<!DOCTYPE html>

    <head>
        <title>Enter New Password | degreeMe </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="assets/img/favicon.png" type="image/png" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="assets/css/main.css" rel="stylesheet">
        <link href="assets/css/header.css" rel="stylesheet">
        <link href="assets/css/footer.css" rel="stylesheet">
        <link href="../assets/css/index.css" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <script src="assets/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
        <script type="text/javascript" src="assets/js/updatePasswordValidation.js"></script>
        <script type="text/javascript" src="assets/js/showPopOutMenu.js"></script>


    </head>
    <body>
        <h3 class="mobileMsg">Mobile and Tablet Versions Coming Soon.<br> Please access CollegeTutor via laptop/desktop.</h3>
        <h3 class="mobileMsg"></h3>
        <div class="page-container">
            <div id="headerContainer" >
                <%-include ('partials/header.ejs') %>
                <%-include ('partials/popout-menu.ejs') %>
            </div>
            <div class="homeContainer">
                <div class="contentBlock">
                    <h3 class=" confirmationHeader"> Update password below.</h3><br>
                    <h5 class="badge badge-danger verifyErr"><%=qs.err%></h5>
                    <form method="POST" action="updatePassword">
                        <label>Enter Verification Code</label><br>
                        <input id="code" name="code" type="text" class="confirmInput" placeholder="Enter Code"/><br>
                        <small id="codeTxt" class="text-danger"></small>
                        <br>
                        <label>Enter New Password</label><br>
                        <input id="pw" name="password" type="password" class="confirmInput" placeholder="Enter Password"/><br>
                        <small id="pwTxt" class="text-danger"></small>
                        <br>
                        <label>Re-Enter New Password</label><br>
                        <input id="re-pw" name="retypePassword" type="password" class="confirmInput" placeholder="Re-enter Password" /><br>
                        <small id="rePwTxt" class="text-danger"></small>
                        <br>
                        <br>
                        <input name="email" type="hidden" value="<%=qs.email%>" />
                        <input id="submit" type="submit" value="Reset Password" class="btn btn-primary confirmSubmit updatePW-btn"/>
                    </form>
                
                
                </div>
            </div>
        </div>
        <%- include ('partials/footer.ejs') %>
    </body>
</html>  