<!DOCTYPE html>
<head>
    <title>degreeMe</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,viewport-fit=cover">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- StyleSheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="../assets/css/header.css" rel="stylesheet">
    <link href="../assets/css/index.css" rel="stylesheet">
    <link href="../assets/css/footer.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PTK9R96');</script>
    <!-- End Google Tag Manager -->
    
    <!-- Scripts -->
    <script src="../assets/jquery/dist/jquery.js"></script>
</head>
<body class="">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTK9R96"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <h3 class="mobileMsg">Mobile and Tablet Versions Coming Soon</h3>
    <div class="page-container ">
       
        <div class="index-page-container">
            
            <div class="index-container  ">
                <div id="headerContainer">
                    <%-include ('partials/header.ejs') %>
                </div>
                <div class="">
                    <%-include ('partials/indexSlider.ejs') %>

                </div>    
        <div class="full-index-container1">
        
        </div>
        </div>
        <!-- Mobile version -->
        <div class="index-container-mobile">
            <div id="headerContainer">
                <%-include ('partials/header.ejs') %>
                <%-include ('partials/popout-menu.ejs') %>
        </div>
            
    
                    <%-include ('partials/indexSlider.ejs') %>
            </div>
        
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="assets/jquery/jquery.session/jquery.session.js"></script>
    
    <!-- <script type="text/javascript" src="assets/js/formValidation_1.js"></script> -->
    <script type="text/javascript" src="assets/js/showPopOutMenu.js"></script>
    <script type="text/javascript" src="assets/js/slider.js"></script>
</body>

<%- include ('partials/footer.ejs') %>

</html>