<!DOCTYPE html>

<head>
    <title>Log In | degreeMe </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,viewport-fit=cover">
    <!-- StyleSheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="assets/css/login.css">
    <link href="assets/css/main.css" rel="stylesheet">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="assets/css/header.css" rel="stylesheet">
    <link href="../assets/css/index.css" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script type="text/javascript" src="assets/js/googleTagManager.js"></script>
    <!-- End Google Tag Manager -->

    <!-- Scripts -->
    <script src="assets/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="assets/js/formValidation_1.js"></script>
</head>
<body class="">
    <!-- Google Tag Manager (noscript) -->
    <%- include('partials/googleTagManager.ejs') -%>
    <!-- End Google Tag Manager (noscript) -->
    <div id="headerContainer page-container">
        <%- include ('partials/header.ejs') %>
      </div>
        <div class="homeContainer1--Login">
            <div class="contentBlock">
                
                <% if(qs.email){%>
                <h4 class='badge badge-warning loginErr'><%=qs.message%></h4>
                <form method="POST" action="/sendEmail">
                    <input name="email1" type="hidden" value="<%=qs.email%>" />
                    <input class="btn btn-danger newEmailBtn" type="submit" value="Send another email" />
                </form>
                <%}else{%>
                <%if(qs.message === "Account Successfully Created" ){%>
                    <h4 class='badge badge-success loginErr'><%=qs.message%></h4>
                    <p class="text-light">Check your email to confirm your account.</p>
                <%}else if (qs.message == "Account Confirmed") {%>
                    <h4 class='badge badge-success loginErr'><%=qs.message%></h4>
                <%}else if (qs.message == "Session Ended") {%>
                    <h4 class='badge badge-danger loginErr'><%=qs.message%></h4>
                <%}else{%>
                    <h4 class='badge badge-warning loginErr'><%=qs.message%></h4>
                <%}%>
                <%}%>
                <div id="loginPage">
                    <div class="login-logo-link">
                        <a href="/" ><img src="/assets/img/hash.svg" class="loginLogo"/></a>
                    </div>
                    
                    <div class="signInTitleContainer"><h1 class='signIn'>Login to degreeMe</h1></div>
                    <div class="Login--Switch">Don't have an account? <a href="/SignUp">Sign up here</a></div>
                    <%- include ('partials/login.ejs')%>
            </div>
        </div>
    </div>
</body>
</html>