<!DOCTYPE html>
<head>
  <title>Sign Up | degreeMe</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="initial-scale=1,user-scalable=no,viewport-fit=cover">
  <!-- StyleSheets -->
  <link rel="icon" href="assets/img/favicon.png" type="image/png" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link href="assets/css/header.css" rel="stylesheet">
  <link href="assets/css/schoolSuggestions.css" rel="stylesheet">
  <link href="assets/css/landing.css" rel="stylesheet">
  <link href="assets/css/index.css" rel="stylesheet">
  <link href="assets/css/landing/landing.css" rel="stylesheet">

  <link href="assets/css/SignUp.css" rel="stylesheet">
  <link href="../assets/css/index.css" rel="stylesheet">
  <link href="../assets/css/footer.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/js/croppie/croppie.css" />

  <!-- Google Tag Manager -->
  <script type="text/javascript" src="assets/js/googleTagManager.js"></script>
  <!-- End Google Tag Manager -->

  <!-- Scripts -->
  <script src="assets/jquery/dist/jquery.js"></script>

</head>

<body class="signup-body">
    <!-- Google Tag Manager (noscript) -->
    <%- include('partials/googleTagManager.ejs') -%>
    <!-- End Google Tag Manager (noscript) -->
  <div class="blocker"></div>
  <div class="overlay"></div>
  <div class="Signup--Background">
    <div id="headerContainer">
      <%- include ('partials/header.ejs') %>
      <%-include ('partials/popout-menu.ejs') %>
    </div>
    <%if(qs.error){%>
   
    <%}%>
    <div class="signup-container" id="loginPage">
      <div class="signUpWrapper">
        <div class="signup-form" class="">
          <h3 class='badge badge-danger loginErr'><%=qs.error%></h3>
          <h2 class="signup-msg"><%=qs.msg%></h2>
          <form method="POST" action="/SignUp" class="form">
            <input name="imageURL" type="hidden" class="imageURL"/>

            
            <div class="signInTitleContainer"><h1 class='signIn'>Register to degreeMe</h1></div>
                    <div class="Login--Switch">Already have an account? <a href="/login">Sign in here</a></div>
            <div class="SignUp--Field--Flex">
              <div class="field--Small--Left">
                <p class="firstTxt"></p>
                <input autocomplete= "off" class="Login--Input" name="first_name" type="text" id="first_name"
                  spellcheck="false" placeholder=" " autocomplete="autocomplete_off_hack_xfr4!k" style="text-transform: capitalize;"  />
                <label class="Login--Label" for="first_name">First Name</label>
              </div>

              <div class="field--Small--Right">
                <p class="lastTxt"></p>
                <input autocomplete= "off" name="last_name" id="last_name" type="text" class="Login--Input" spellcheck="false"
                  autocomplete="autocomplete_off_hack_xfr4!k" placeholder=" " style="text-transform: capitalize;" />
                <label for="last_name" class="Login--Label">Last Name</label>
              </div>
            </div>

            <div class="field">
              <p class="emailTxt"></p>
              <input autocomplete= "off" name="email" type="email" class="Login--Input"
                autocomplete="autocomplete_off_hack_xfr4!k" placeholder=" " />
              <label for="email" class="Login--Label">University Email</label>
            </div>

            <div class="field">
              <p class="pwTxt"></p>
              <input  class="Login--Input" autocomplete="off" placeholder=" " name="password" type="password" class=" input-field1 passwordSignUp">
              <label class="Login--Label">Password</label>
            </div>

            <div class="field">
              <p class="ReTypeTxt"></p>
              <input class="Login--Input" name="retypePW" placeholder=" " type="password" class=" input-field1 retypePasswordSignUp">
              <label class="Login--Label">Retype Password</label>
            </div>

            <input type="submit" value="Create Account" class="Login--Submit"/>
          </form>
        </div>
      </div>
    </div>
</div>
  </div>
  <div class="landing--footer--text text-light">Copyright © DegreeMe 2021<br/> <a href="/Privacy">Privacy</a> · <a href="/Policies">Policies</a></div>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<!-- <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-storage.js"></script> -->
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
     <script src="assets/jquery/jquery.session/jquery.session.js"></script>
     <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
     <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-storage.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.12/dist/browser-image-compression.js"></script>
  <script type="text/javascript" src="assets/js/signUpFormValidation.js"></script>
  <script type="text/javascript" src="assets/js/schoolSuggestions.js"></script>
  <script src="../assets/js/croppie/croppie.min.js"></script>
  <script type="text/javascript" src="assets/js/crop.js"></script>
  <script type="text/javascript" src="assets/js/showPopOutMenu.js"></script>
</body>

</html>