<!DOCTYPE html>

<head>
    <title>Verify Account | degreeMe </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- StyleSheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="assets/css/header.css" rel="stylesheet">
    <link href="assets/css/footer.css" rel="stylesheet">
    <link href="../assets/css/index.css" rel="stylesheet">
           <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PTK9R96');</script>
    <!-- End Google Tag Manager -->
    <!-- Scripts-->
    <script src="assets/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="assets/js/showPopOutMenu.js"></script>
</head>

<body>
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTK9R96"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <h3 class="mobileMsg">Mobile and Tablet Versions Coming Soon.<br> Please access CollegeTutor via laptop/desktop.
    </h3>
    <h3 class="mobileMsg"></h3>
    <div class="page-container">
        <div id="headerContainer">
            <%-include ('partials/header.ejs') %>
            <%-include ('partials/popout-menu.ejs') %>
        </div>
        <div class="index-page-container paddingTop">
            <div class="contentBlock">
                <%if(qs.error){%>
                    <h1 class="badge badge-danger loginErr"><%=qs.error%></h1>
                <%}%>
                <h1 class="confirmationHeader">Enter your account confirmation code</h1><br>
                <form method="POST" action="updateStatus">
                    <input name="code" type="text" class="confirmInput" />
                    <input name="email" type="hidden" value="<%=qs.email%>" class="confirmInput" />
                    <input type="submit" value="Confirm" class="btn btn-primary confirmSubmit" />
                </form>
            </div>
        </div>
    </div>
    <%- include ('partials/footer.ejs') %>
</body>
</html>