
<!DOCTYPE html>
    <head>
        <title> Room | degreeMe </title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../assets/img/favicon.png" type="image/png" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">       
         <link href="../assets/css/main1.css" rel="stylesheet">
        <link href="../assets/css/home.css" rel="stylesheet">
        <link href="../assets/css/CourseProfile.css" rel="stylesheet">
		<link href="../assets/css/video.css" rel="stylesheet">
		<script src="../assets/jquery/dist/jquery.js"></script>
		

	</head>
	<script>
		const roomID = "<%=params.id%>";
	</script>
	<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<script src="../socket.io/socket.io.js" defer></script>
	<script src="../assets/js/lifeCycle/lifeCycle.es5.js" defer></script>
	<script src="../assets/js/Video/zoomClone.js" defer></script>
	<script src="../assets/js/Video/chat.js" defer></script> 
        <body class="color-dark">
			<style>
				#video-grid{
				   display: flex;
				   justify-content: center;
				   flex-wrap: wrap;
				}
				video{
				   height: 300px;
				   width: 400px;
				   object-fit: cover;
				   padding: 8px;
				}
			 </style>
            <div class="homeWrap">
                <div class="page-container">
			<%- include ('../partials/VideoChatBox.ejs')%> 
			<input type="hidden" id="userHandle" name="handle" value="<%= session.handle %>"/>
			<input type="hidden" id="userId" name="userId" value="<%= session.userId %>"/>
			<input type="hidden" id="previousStream" name="previousStream" value="<%= session.previousStream %>"/>
			<input type="hidden" id="inStream" name="inStream" value="<%= inStream %>"/>
			<input type="hidden" id="host"name="host" value="<%= stream.host %>"/>
			<input type="hidden" id="hostId"name="hostId" value="<%= stream.hostId %>"/>
			<input type="hidden" name="stream" value="<%= stream._id %>"/>
			<div class="main">
				<div class="main__left">
				   <div class="main__videos">
					  <div id="video-grid">
				
					  </div>
				   </div>
				   <div class="main__controls">
					  <div class="main__controls__block">
						 <div class="main__controls__button main__mute_button">
							<i class="fas fa-microphone"></i>
							<span>Mute</span>
						 </div>
						 <div class="main__controls__button main__video_button" >
							<i class="fas fa-video"></i>
							<span>Stop Video</span>
						 </div>
					  </div>
					  
					  <div class="main__controls__block">
						 <div class="main__controls__button">
							<span id="leaveStream" class="leave_meeting">Leave Stream</span>
						 </div>
						 <div class="main__controls__button">
							<span id="shareScreen" class="shareScreen">Share Screen</span>
							<span style="display: none;" id="stopSharing" class="stopSharing">Stop Sharing</span>
						 </div>
					
							
					  </div>
				   </div>
				</div>
				
			 </div>
		</div>   
	</div>
	
    
	
	<!-- <video playsinline autoplay muted></video> -->
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <!-- <script src="../assets/js/getNotifications.js"></script> -->
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>


    </body>
</html>