<!DOCTYPE html>
    <head>
        <title>Connection</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="assets/css/main.css" rel="stylesheet">
        <link href="assets/css/toggle.css" rel="stylesheet">
        <link href="assets/css/userProfile.css" rel="stylesheet">
        <link href="assets/css/userHeader.css" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
          <!-- Google Tag Manager -->
          <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PTK9R96');</script>
            <!-- End Google Tag Manager -->
        <script src="assets/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="./assets/js/main.js"></script>
    </head>
    <body class="<%=session.theme%>">
              <!-- Google Tag Manager (noscript) -->
              <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTK9R96"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                <!-- End Google Tag Manager (noscript) -->
        <div class="page-container">
            <div id="headerContainer">
                <% include partials/header.ejs %>
            </div>
            
            <div class="homeContainer">
                <div class="contentBlock">
                    <div class="connectionList-wrapper">
                        <div class="connectionList-container">
                            <div class="connectionList">
                                <ul class="connectionHeader">
                                    <li><img src="<%=docs.Image%>" width="200" alt="Profile Picture" class="profilePicture"/><h1 class="connectionName" ><%= qs.name%></h1></li>
                                    <li>
                                        <% for(var i =0; i < docs.Rating; i++){ %>
                                            <span>&#9733;</span>
                                        <% }%>
                                    </li>
                                    <li><a href="#reviews">See Reviews</a></li>
                                </ul>
                                <div class="connectionBody-container">
                                    <ul class="connectionBody">
                                        <li><h2 class="connection-subheader">Subjects</h2></li>
                                        <li><p class="badge badge-info">
                                            <%=docs.Subject%>
                                            </p>
                                        </li>
                                        <li><h2 class="connection-subheader">GPA</h2></li>
                                        <li>
                                            <%=docs.Grade%>
                                        </li>
                                        <li><h2 class="connection-subheader">Bio</h2></li>
                                        <li>
                                            <%=docs.Bio%>
                                        </li>
                                        <li>
                                            <button id="connectBtn" class="btn btn-success" onclick="window.location.href = '/savedConnections';">Connect</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="reviews"></div>
                    <div id="reviewsContainer">
                    <h1><%=docs.Name%>'s Reviews</h1>
                    <p><a href="#reviewForm">Leave a Review</a></p>
                    <div>
                        <div class="reviewDisplay-container">
                            <div class="reviewDisplay-top">
                                <h1 class="text-dark">Todd Gurley</h1>
                                <% for(var i =0; i < 5; i++){ %>
                                    <span>&#9733;</span>
                                <% }%>
                                <h2 class="text-dark"><i>Georgia</i></h2>
                            </div>
                            <div class="reviewDisplay-bottom">
                                <h2 class="reviewBody text-dark">Thank You so much for the tutoring. I passed my test!blah balhajdifchcbhbchbhb</h2>
                            </div>         
                        </div>
                        <div id="reviewWrapper">
                            <div class="reviewTitle"><h1>Leave A Review</h1></div>
                                <div class="review-form">
                                    <form method="POST">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control" id="Name">
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" id="Email">
                                        </div>
                                        <div class="form-group">
                                            <label>Rating</label>
                                            <div id="ratingContainer">
                                                <div class="rating">
                                                    <input type="radio" name="star" id="star1" value="5"><label for="star1"></label>
                                                    <input type="radio" name="star" id="star2" value="4"><label for="star2"></label>
                                                    <input type="radio" name="star" id="star3" value="3"><label for="star3"></label>
                                                    <input type="radio" name="star" id="star4" value="2"><label for="star4"></label>
                                                    <input type="radio" name="star" id="star5" value="1"><label for="star5"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Message</label>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </form>
                                </div>
                        </div> 
                    </div>
                    </div>
                
            </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </body>
</html>