<!DOCTYPE html>

    <head>
        <title>Recent Notifications</title>
        <meta charset="UTF-8">
        <link rel="icon" href="assets/img/favicon.png" type="image/png" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="assets/css/main1.css" rel="stylesheet">
        <link href="assets/css/toggle.css" rel="stylesheet">
        <link href="assets/css/userProfile.css" rel="stylesheet">
        <link href="assets/css/userHeader.css" rel="stylesheet">
        <link href="assets/css/update.css" rel="stylesheet">
        <link href="assets/css/recentNotifications.css" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <script src="assets/jquery/dist/jquery.js"></script>
      
        <script type="text/javascript" src="assets/js/main.js"></script>
        <script type="text/javascript" src="assets/js/notification.js"></script>
        <script type="text/javascript" src="assets/js/highlightCurrentMenuItem.js"></script>
        <script type="text/javascript" src="assets/js/update.js"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script type="text/javascript" src="assets/js/quiz.js"></script>
        <script type="text/javascript" src="assets/js/HostASessionValidation.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript" src="assets/js/tutorSearch.js"></script>
    </head>
    
      
        <body class="<%=session.theme%>">
    
        <div class="page-container <%=session.theme%>">
            <% include partials/sideBar.ejs%>
            <% include partials/horizontalHeader.ejs%>
            <div class="homeContainer <%=session.theme%>">
                    <div class="contentBlock">
                        <h1><%=session.handle%>'s Recent Notifications</h1>
                        <div id="recentNotifWrapper">
                        
                        <%for (var x=0;x<20;x++){%>
                            <div class="recentNotifContainer">
                                <%=notifications.notifications[x].type%>
                                <%=notifications.notifications[x].name%>
                            </div>
                        <%}%>
                    </div>
                </div>
                
                </div>
                
            </div>
       
    </body>
</html>