<!DOCTYPE html>


<head>
    <title>Discover</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,viewport-fit=cover">
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/header.css" rel="stylesheet">
    <link href="/assets/css/studentResult.css" rel="stylesheet">
    <link href="/assets/css/footer.css" rel="stylesheet">
    <link href="/assets/css/studentResult.css" rel="stylesheet">
    <script src="assets/jquery/dist/jquery.js"></script>


    <link href="assets/css/connectByMajor.css" rel="stylesheet">



    <!-- <script src="assets/js/getUsersByMajor.js"></script> -->

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->


    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous"> -->
     <!-- Google Tag Manager -->
     <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PTK9R96');</script>
        <!-- End Google Tag Manager -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

        <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    </head>


<body>
    <!-- Google Tag Manager (noscript) -->
    <%- include('partials/googleTagManager.ejs') -%>
        <!-- End Google Tag Manager (noscript) -->
    <div class="page-container">
        <% include partials/header.ejs%>
        <div class="homeContainer1">
            <div class="contentBlock1">

                <div class="contentBlockMajor">
                    <div class="titleClassmates">
                    </div>

                    <div id="connectionSearchBarContainer">
                        <div id="searchBarWrapper">
                            <div id="searchBar" class="active-cyan-3 active-cyan-4 mb-4">
                                <form method="GET" autocomplete="off" class="getUsersByMajor">
                                    <div class="input-container2Light">
                                        <input id="searchInput" name="searchInput" class=" input-field "
                                            placeholder="Search Majors at UNC Charlotte" />
                                        <button class="searchBtn"><i class="fa fa-user icon"><img
                                                    src="/assets/img/search.svg.svg" class="signup-icon" /></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <h2 class="result"><%=major%> Students</h2>
                    </div>

                    <div class="parent-student">

                    
                    <div class="student-container">



                        <% for(var i=0; i<students.length; i++){ %>


                        <div class="studentResult">
                            <div class="studentImage">
                                <img src="../<%=students[i].img%>" alt="Profile" class="discoverImage">
                            </div>
                            <div class="studentName">
                                <p class="name"><%=students[i].first_name + " " + students[i].last_name %></p>
                                <p class="handle"><a href="User/<%=students[i].handle%>"><%=students[i].handle%></a></p>
                                <p class="bio">This is a fake profile bio blah blah blah blah</p>
                            </div>
                            <div class="follow-container">
                                <button class="followStudents">Follow</button>
                            </div>
                        </div>

                        <%}%>
           
                               
                    </div>
                        </div>
                        </div>
                </div>
        </div>
    </body>
 
    
</html>