<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"><%=course.Department%> <%=course.CourseCode%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" autocomplete="off" class="newDiscussion" action ="newDiscussion">
                <input type="hidden" value="<%=course.CourseName%>" name="course"/>
                <input type="hidden" value="<%=session.handle%>" name="userHandle"/>
                <input type="hidden" value="<%=session.name%>" name="userName"/>
                <input type="hidden" value="<%=session.img%>" name="userImg"/>
            <div>
            <label for="false">Post as yourself</label>
            <input type="radio" name="anonymous" id="false" value="false" checked/>
            <label for="true">Post anonymously</label>
            <input type="radio" name="anonymous" id="true" value="true"/>
            
            </div>
            
            <div>
                <label>Enter your question</label>
                <textarea name ="post" class="questionTxt"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit"/>
          </form>
        </div>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
        </div>

      </div>
    </div>
  </div>