<!-- Modal -->
<div class="modal fade" id="profileMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Messaging <%=user.handle%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" class="profileMessage">
            <textarea name="message" class="messageText" cols="4"></textarea>
            <input type="hidden" name="host" value="<%=session.handle%>"/>
            <input type="hidden" name="hostImg" value="<%=session.img%>"/>
            <input type="hidden" name="receiverHandle" value="<%=user.handle%>"/>
            <input type="hidden" name="receiverImg" value="<%=user.img%>"/>
            <button type="submit" class="btn btn-primary">Send Message</button>
          </form>
        </div>
        <div class="modal-footer">
        
         
        </div>
      </div>
    </div>
  </div>