<!DOCTYPE html>
<html>
    <head>
        <title>My Connections</title>
        <meta charset="UTF-8">
        <link rel="icon" href="assets/img/favicon.png" type="image/png" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
        <link href="assets/css/main1.css" rel="stylesheet">
        <link href="assets/css/toggle.css" rel="stylesheet">
        <link href="assets/css/userProfile.css" rel="stylesheet">
        <link href="assets/css/userHeader.css" rel="stylesheet">
        <link href="assets/css/update.css" rel="stylesheet">
        <link href="assets/css/tutorSearch.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="assets/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
        <script type="text/javascript" src="assets/js/notification.js"></script>
        <script type="text/javascript" src="assets/js/highlightCurrentMenuItem.js"></script>
        <script type="text/javascript" src="assets/js/update.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>        
        <script type="text/javascript" src="assets/js/tutorSearch.js"></script>
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script type="text/javascript" src="assets/js/messages.js"></script>
        <link href="assets/css/messageSuccess.css" rel="stylesheet">
       
    </head>
        <body class="bodyClass">
        <div class="page-container">
            <% include partials/sideBar.ejs%>
            <% include partials/horizontalHeader.ejs%>
            
            <div class="homeContainer1">
                   
                <div class="listContainer " >
                    <ul class="myConnectionOptionList">
                        <li class="badge badge-primary myConnectionOptions">All</li>
                        <li class=" myConnectionOptions">Current</li>
                        <li class=" myConnectionOptions">Past</li>
                    
                    <%if(qs.message === "Session Not Added. Session Is Full"){%>
                        <h2 class="badge badge-danger addedSessionMsg"><%=qs.message%></h2>
                    <%}else{%>
                        <li><h2 class="addedSessionMsg"><%=qs.message%></h2></li>
                    <%}%>
                </ul>
                    <div class="tableContainer">
                        <div class="tableWrapper">
                            <table class="table_">
                                <thead class="">
                                            <tr>
                                                <th class="text-light">Tutor</th>
                                                <th class="text-light">Class</th>
                                                <th class="text-light">Date</th>
                                                <th class="text-light">Time</th>
                                                <th class="text-light">Building</th>
                                                <th class="text-light">Room</th>
                                                <th class="text-light">Type</th>
                                                <th class="text-light">Status</th>
                                                <th class="text-light"></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(x in connections){%>
                                               
                                                <div class="myConnectionsWrapper">  
                                                <tr class="myConnectionContainer">
                                                    <td><span class="btn btn-primary" onclick="location.href='/connection1?name=<%=connections[x].tutor%>'">
                                                        <%=connections[x].tutor%>
                                                      </span></td>
                                                    <td class="text-light"><%=connections[x].className%></td>
                                                    <td class="text-light"><%=formatDate(new String(connections[x].date))%></td>
                                                    <td class="text-light"><%=connections[x].time%></td>
                                                    <td class="text-light"><%=connections[x].building%></td>
                                                    <td class="text-light"><%=connections[x].room%></td>
                                                    <td class="text-light"><%=connections[x].type%></td>
                                                    <td class="text-light"><button type="button" class=" badge btn-primary"><%=connections[x].status%></button></td>
                                                   
                                                    <td>
                                                    <% if(qs.filter === "past" && connections[x].leftReview === false){%>
                                                     <a href="/Review?course=<%=connections[x].className%>&tutor=<%=connections[x].tutor%>&connectionID=<%=connections[x].connectionID%>" class="btn btn-info remove">Leave a Review</a>
                                                        <%}else if(qs.filter === "past" && connections[x].leftReview === true) {%>
                                                        <p>You left feedback!</p>
                                                    <%}%>   
                                                    <%if(connections.type === "Individual"){%>
                                                    <button type="submit" class="btn btn-warning remove">Reschedule</button>
                                                    <%}%>        
                                                    </td>
                                                    <td></td>
                                                   
                                                </tr>
                                                
                                                </div>
                                                
                                            <%}%>
                                       
                                    
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                   
                        
                </div>
            </div>
        </div>
   
    </body>
</html>