<!DOCTYPE html>
<head>
    <title>Checkout | degreeMe </title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,viewport-fit=cover">

    <!-- Stylesheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="assets/bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="assets/css/checkout.css" rel="stylesheet">
    <link href="assets/css/main1.css" rel="stylesheet">
    <link href="assets/css/userProfile.css" rel="stylesheet">
    <link href="assets/css/home.css" rel="stylesheet">
    <!-- Require jquery -->
 <script src="../assets/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="overlay">
    </div>
    <div class="page-container">
        <%- include ('partials/sideBar.ejs')%>
        <%- include ('partials/horizontalHeader.ejs')%>

        <div class="homeContainer1">
            <div class="payment-processing-container">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Payment Processing</span>
                    </div>
                    <h3 class="payment-status">Payment Processing</h3>
                </div>

            </div>
            <div class="contentBlock1">

                <div class="checkout-container">
                    <div >
                        <div class="checkout-header" id="">
                            <span class="tutor">
                                <img src="<%=tutor.getImg()%>" width="200" alt="Profile Picture" class="checkoutImg" />
                                <span class="tutorName text-light"><a class="text-light"
                                        href="User/<%=tutor.getHandle()%>"><%= tutor.getName()%></a>
                                </span>
                            </span>
                           
                            <span class="subject text-light">
                                <img class="" src="assets/img/bootstrapBook.svg" />
                                <%= tutor.Subject%>
                            </span>
                        </div>
                        <div>
                            <% for(var i =0; i < tutor.getRating(); i++){ %>
                            <span>&#9733;</span>
                            <% }%>
                        </div>
                        <!-- <div class="schoolbadge">
                            <h1 class="schoolName badge"><%=tutor.getSchool()%></h1>
                        </div> -->
                        
                       <h3 class="checkout-subheader">Session Info</h3>
                       <div class="details-list-container">
                        <ul class="detailsList">
                            <li>
                                <%if(tutor.Type === "Individual Session"){%>
                                    <img class="detailsImg" src="assets/img/bootstrap-person.svg" />
                                <%}else{%>
                                    <img class="detailsImg" src="assets/img/bootstrap-people.svg" />
                                <%}%>
                                
                                <p class="detailsListItem text-light"><%=tutor.Type%> </p>
                            </li>
                            <li>
                                <img class="detailsImg" src="assets/img/bootstrapHourglass.svg" />
                                <p class="detailsListItem text-light"><span class="details-item-label">Duration:</span> <%=tutor.NumHours%> Hours </p>
                            </li>
                          
                            <%if(tutor.Virtual == true){%>
                                <li>
                                    <img class="detailsImg" src="assets/img/bootstrapBuilding.svg" />
                                    <p class="detailsListItem text-light"><span class="details-item-label">Location:</span> Online
                                    </p>
                                </li>
                                <p class="text-light">The tutor will schedule a zoom meeting after the purchase is made and the link will be sent to you.</p>
                            <%}else{%>
                                <li>
                                    <img class="detailsImg" src="assets/img/bootstrapBuilding.svg" />
                                    <p class="detailsListItem text-light"><span class="details-item-label">Location:</span> Physical Location
                                    </p>
                                </li>
                                <p class="text-light">The tutor will select a location after the purchase is made and you will be notified.</p>
                            <%}%>
                           
                           
                                <div class="checkout-price text-light">
                                    <h3 class="checkout-price-subheader">Price</h3>
                                    <span><h1 class="checkout-price-text">$<%=parseFloat(tutor.HourlyRate) * parseInt(tutor.NumHours)%></h1> </span>
                                </div>
                            <li>
                               
                            </li>
                           
                        </ul> 
                        
                        </div> 
                        <div class="date-container">
                            
                            <p class="selectDateTime"><img class="detailsImg1" src="assets/img/bootstrapCalendar.svg" /><span class="dateTimeText">Select Date/Time</span>
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z"/>
                                  </svg>
                            
                            </p>
                        </div>
                          
                        <div class="date-select">
                            <ul>
                                <% for (i in tutor.Schedule){%>
                                    <li>
                                        <input type="hidden" name="scheduleId" value="<%=tutor.Schedule[i]._id%>"/>
                                        <input type="hidden" name="dateSelection" value="<%=tutor.Schedule[i].date%>"/>
                                        <span><%=formatDate(new Date(tutor.Schedule[i].date)) + " "+ formatTime(new Date(tutor.Schedule[i].date))%></span>
                                        <%if(tutor.Type === "Group Session"){%>
                                            <%if((parseInt(tutor.MaxStudents) - parseInt(tutor.Schedule[i].StudentsAttending)) === 1){%>
                                                <span class="badge badge-warning openSeats"><%=(parseInt(tutor.MaxStudents) - parseInt(tutor.Schedule[i].StudentsAttending) )+ " open seat"%></span>
                                            <%}%>
                                            <span class="badge badge-warning openSeats"><%=(parseInt(tutor.MaxStudents) - parseInt(tutor.Schedule[i].StudentsAttending) )+ " open seats"%></span>
                                        <%}%>
                                    </li>
                                <%}%>
                            </ul>
                        </div>
                        <input type="hidden" name="timeSlot" class="timeSlot"/>
                        <input type="hidden" name="timeId" class="timeId"/>
                        <h3 class="checkout-subheader">Session Notes</h3>
                        <div><textarea class="notes" name="notes" cols="4"
                            placeholder="Enter any notes you'd like to provide to the tutor."></textarea></div>
                            <div class="date-wrapper">
                       
                    </div>
                    </div>
                   
                        <h3 class="checkout-subheader">Payment Details</h3>
                    <form class="stripe-form" id="stripe-payment-form">
                        <input name="tutorSessionId" type="hidden" value="<%=tutor.id%>" />
                        <input name="name" type="hidden" value="<%=session.name%>" />
                        <input name="image" type="hidden" value="<%=session.img%>" />
                        <input name="StripeId" type="hidden" value="<%=StripeId%>" />
                        <div id="card-element" style="width:500px;background-color:#1d1d1d;">
                            <!-- Elements will create input elements here -->
                        </div>
                        <div id="card-errors" role="alert"></div>

                        <button id="submit" class="btn stripe-submit">Checkout</button>
                    </form>
            </div>
        </div>
        </div>
    </div>         
</body>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="assets/js/confirm.js"></script>
    <script src="assets/js/checkoutDOM.js"></script>
</html>