<!DOCTYPE html>

<head>
    <title><%=studyGroup.GroupName%> | degreeMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/img/favicon.png" type="image/png" />
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">    <link href="../assets/css/main1.css" rel="stylesheet">
    <link href="../assets/css/StudyGroupProfile.css" rel="stylesheet" />
    <link href="../assets/css/home.css" rel="stylesheet">
    <link href="../assets/css/messages.css" rel="stylesheet">
    <link href="../assets/css/story.css" rel="stylesheet">
    <link href="../assets/css/private-group.css" rel="stylesheet">
    <link href="../assets/css/approveMembers.css" rel="stylesheet">

    <link href="../assets/css/story-progress-bar.css" rel="stylesheet">

    <link rel="stylesheet" href="../assets/js/croppie/croppie.css" />


     <!-- Google Tag Manager -->
	<script type="text/javascript" src="../assets/js/googleTagManager.js"></script>
    <!-- End Google Tag Manager -->
    
    <!-- Scripts -->
    <script src="../assets/jquery/dist/jquery.js"></script>

    <!-- <script type="text/javascript" src="../assets/js/newMeetupDOM.js"></script> -->
</head>

<body class="color-dark">
    <!-- Google Tag Manager (noscript) -->
    <%- include('partials/googleTagManager1.ejs') -%>
    <!-- End Google Tag Manager (noscript) -->
        <div class="blocker"></div>
    <div class="homeWrap">
    <div class="page-container">
        <input type="hidden" class="member_id" value="<%=session.handle%>" />
        <%- include ('partials/groupHeader.ejs')%>
        <%- include ('../Groups/partials/UserGroups.ejs')%>


        <div class="">
            <input type="hidden" name="groupId" value="<%=params.GroupId%>"/>
            <div class="private-group-div">
                <h3 class="text-light title-pending-members"><%=studyGroup.GroupName%> Pending Members</h3>
                <ul>
                    <%for(var x = 0; x < studyGroup.Members.length; x++){%>
                        <%if(studyGroup.Members[x].Status == "Pending"){%>
                            <li>
                                <p class="text-light">
                                    <a href="/user/<%=studyGroup.Members[x].MemberHandle%>">
                                    <img class="approve-member-image" src="<%=studyGroup.Members[x].MemberImage%>"/>
                                    <span class="text-light private-member-handle"><%=studyGroup.Members[x].MemberHandle%></span>
                                       
                                </a>
                                <button class="Accept btn btn-success request-response">Accept</button>
                                <button class="Reject btn btn-danger request-response">Reject</button>
                                </p>
                            
                                
                            </li>
                        <%}%>
                        
                    <%}%>
                </ul>
               
        </div>
        </div>
        <audio id="pop">
            <source src="../assets/sounds/Blop-Mark_DiAngelo-79054334.mp3" type="audio/mpeg">
        </audio>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script type="text/javascript" src="../assets/js/group-mobile.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/getStudyGroups.js"></script>
    <script type="text/javascript" src="../assets/js/follow-client.js"></script>
    <script type="text/javascript" src="../assets/js/createMeetup-client.js"></script>
    <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>
    <script type="text/javascript" src="../assets/js/tooltip.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/getGroupsImages.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/getGroupMembers.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/addGroupChat.js"></script>
    <script type="text/javascript" src="../assets/js/Messages/messageFunctions.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/getGroupThreads.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/story-progress-bar.js"></script>

    <script src="../assets/js/socket.io.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-storage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.12/dist/browser-image-compression.js">
    </script>
    <script src="../assets/js/firebaseConfig.js"></script>
    <script type="text/javascript" src="../assets/js/messages.js"></script>
    <script src="../assets/js/croppie/croppie.min.js"></script>
    <script type="text/javascript" src="../assets/js/crop.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/story.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/addStory.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/addStoryResponse.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/showGroupUserMenu.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/privateGroupRequest.js"></script>



</body>

</html>