<!DOCTYPE html>
    <head>
        <title> Comments| degreeMe </title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../assets/img/favicon.png" type="image/png" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">       
         <link href="../assets/css/main1.css" rel="stylesheet">
        <link href="../assets/css/home.css" rel="stylesheet">
        <link href="../assets/css/CourseProfile.css" rel="stylesheet">
        <!-- <link href="../assets/css/messages.css" rel="stylesheet"> -->
        <link href="../assets/css/comments.css" rel="stylesheet">
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PTK9R96');</script>
            <!-- End Google Tag Manager -->
        <script src="../assets/jquery/dist/jquery.js"></script>
        <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet"> -->
    </head>
        <body class="color-dark">
                      <!-- Google Tag Manager (noscript) -->
          <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTK9R96"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->

            <div class="homeWrap">
                <div class="page-container">
            <%- include ('partials/sideBar.ejs')%>
            <%- include ('partials/horizontalHeader.ejs')%>
            <div class="comments-wrapper">
            <div class="comments-container">
                <!-- (id, commenterImg, commenter, message1, date1) -->
                <div class="comment-sub-container">
                    <p class="userQuestion"><img class="discImg" src="<%=post.userImage%>"/><span class="userName-text"><%=post.userHandle%><a href="../user/<%=post.userHandle%>"></a></span></p>
                    <h3 class="text-light question-Header"><%=post.caption%></h3>
                   
                    <h3 class="text-light response-Header commentsHeader">Comments</h3>
                <div class="commentTabs">
                    <%for(var x =0;x < comments.length; x++){%>
                        <div class="comment-container">
                            <p class="text-light" id="text-date"><%=formatDate(comments[x].date)%></p>
                        <span>
                            <img class="discImg" src="<%=comments[x].commenterImg%>" />
                            <a href= "../user/<%=comments[x].commenterHandle%>"><%=comments[x].commenterHandle%><span class="text-light userName-text" ></span></a>
                        </span>
                        
                        <%if(comments[x].attachments.length > 0){%>
                            <%if(comments[x].attachments[0].file.length > 1){%>
                                <a target="_blank" href="<%=comments[x].attachments[0].file[0]%>">
                                    <div class="thumbnail-container"><img src="<%=comments[x].attachments[0].file[1]%>" class="yt-thumbnail"/></div>
                                    <span class="text-light yt-title"><%=comments[x].attachments[0].file[2]%></span>
                                    </a>
                            <%}else{%>
                                <%if(!comments[x].message.includes("http")) {%>
                                    <p class="text-light comments-text"><%=comments[x].message%></p>
                                    <a href="<%=comments[x].attachments[0].file%>">
                                        <img class="comment-img" src="<%=comments[x].attachments[0].file%>"/>
                                        </a>
                                 <%}else {%>
                                    <p class="text-light comments-text"></p>
                                <a href="<%=comments[x].attachments[0].file%>">
                                    <img class="comment-img" src="<%=comments[x].attachments[0].file%>"/>
                                    </a>
                                 <%}%>
                                
                            <%}%>

                        <%}else{%>
                            <p class="text-light comments-text"><%=comments[x].message%></p>
                        <%}%>
                    </div>
                    <%}%>
                    
                </div>
                <div class="addComment-form">

                         
                <form method="POST" action="/addComment" >
                        
                    <textarea class="commentMsg" name="message" placeholder="Write your comment here"></textarea>
                    <ul class="comments-actions-list">
                    <li class="attachment-li">
                        <div class="image-attachments">
                            
                        </div>
                    </li>
                    <li>
                            <a data-toggle="tooltip" data-placement="top"
                                            title="File Upload">
                        <label id="imageUploadLabel" for="attachment" class=" btn-lg purple-file-upload darken-2 mt-0 float-left">
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
                          </svg>
                        </label>
                    </a>
                        <input class="comment-file" id="attachment" name="attachment" type="file" />
                        
                    </li>
                    <li>
                        <!-- <input type="hidden" name="course" value=""/> -->
                        <input type="hidden" name="postId" value="<%=post._id%>" />
                        <input type="hidden" name="handle" value="<%=post.userHandle%>" />
                        <input type="hidden" name="name" value="<%=post.userName%>" />
                        <input type="hidden" name="img" value="<%=post.userImage%>" />
                        
                        <input class="btn btn-primary" id="comments-button" type="submit" name="" value="Post" />
                    </li>
               
                </ul>
                    
                </form>
            </div> 
            </div>
            </div>
        </div>
        </div>   
    </div>
    
   
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
  
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
     <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-storage.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.12/dist/browser-image-compression.js"></script>
     <script type="text/javascript" src="../assets/js/firebaseConfig.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>
    <script type="text/javascript" src="../assets/js/commentsValidation.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/tooltip.js"></script>

    <script type="text/javascript" src="../assets/js/Messages/messageFunctions.js"></script>
    <script type="text/javascript" src="../assets/js/Comments/addComment.js"></script>


    </body>
</html>