<!DOCTYPE html>
<head>
    <title><%=params.CourseName%> | degreeMe </title>
    <link rel="icon" href="../assets/img/favicon.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" type="text/css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css">    
    <link href="../assets/css/main1.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/home.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/CourseProfile.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/tutorGrid.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/comments.css" rel="stylesheet" type="text/css">

    <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->

    <!-- Google Tag Manager -->
    <script type="text/javascript" src="assets/js/googleTagManager.js"></script>
    <!-- End Google Tag Manager -->
    
    <!-- Include jQuery -->
    <script src="../assets/jquery/dist/jquery.js"></script>
</head>
<body class="color-dark">
        <!-- Google Tag Manager (noscript) -->
        <%- include('partials/googleTagManager.ejs') -%>
        <!-- End Google Tag Manager (noscript) -->

    <div class="homeWrap">
    <div class="page-container">
        <%- include ('partials/sideBar.ejs')%>
        <%- include ('partials/horizontalHeader.ejs')%>
        <%- include ('partials/discussionModal.ejs')%>
        <%- include ('partials/newMessageModal.ejs')%>
        <% var joined = false%>

        <% for(x in course.students){%>
            <%console.log(course.students[x].Handle)%>
        <%if(course.students[x].Handle === session.handle){%>
        <%joined = true;%>
        <%}%>
            
            <%}%>
        <div class="profile-wrapper">
            <div class="courseProfileContainer">
                <div class="course-profile-header">
                    <div class="CourseHeader-wrapper">
                                <div class="CourseTitle">
                                    <h1 class="courseName text-light"><%=course.CourseName%></h1>
                                    <div class="courseCode">
                                        <input type="hidden" name="courseCode" value="<%=course.Department%> <%=course.CourseCode%>"/>
                                       
                                        <p class="courseCodeTxt"><%=course.Department%> <%=course.CourseCode%></p>
                                        <%if(course.studentCount == 1){%>
                                            <p class="badge badge-warning numStudents"><span
                                                class="studentCount"><%=course.studentCount%></span>
                                            <span>Student</span></p>
                                            
                                        <%}else{%>
                                            <p class="badge badge-warning numStudents"><span
                                                class="studentCount"><%=course.studentCount%></span>
                                            <span>Students</span></p>
                                        <%}%>
                                        
                                    </div>
                                </div>
                                <!-- <h1 class="schoolNameProfile text-light" >UNC Charlotte</h1> -->
                            

                    </div>
                    <!-- Modal -->
                    <div class="modal modal-dialog fade" id="courseProfileModal" tabindex="-1" role="dialog"
                        aria-labelledby="courseProfileModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="courseProfileModalLabel" style="color: white;text-align:left;">Unfollow
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                  
                                    </h4>
                                </div>
                                <div class="modal-body" style="color: white;">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button id="courseProfileNo" type="button" class="btn btn-default"
                                        data-dismiss="modal">No</button>
                                    <button id="courseProfileYes" type="button" class="btn btn-danger">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if(!joined){%>
                    <div class="courseButtons">
                        <form method="POST" class="addCourse">
                            <input name="courseId" type="hidden" value="<%=course._id%>" />
                            <input name="status" type="hidden" value="addCourse" />
                            <button class="btn btn-primary follow-btn joinCourse">Add Course</button>
                        </form>
                    </div>
                    <%}else{%>
                    <div class="courseButtons">
                        <form method="POST" class="addCourse">
                            <input name="courseId" type="hidden" value="<%=course._id%>" />
                            <input name="status" type="hidden" value="leaveCourse" />
                            <button class="btn btn-success follow-btn joined joinCourse">Joined</button>
                        </form>
                    </div>
                    <%}%> 
            </div>
            <div class="profileBody">
                <div class="profileNav">
                    <ul class="profile-ul">
                        <li class="discussionTab tab-selected">DISCUSSION</li>
                        <li class="studentsTab">STUDENTS</li>
                        <li class="tutorTab">TUTORS</li>
                        <li class="studyTab">GROUPS</li>
                    </ul>
                </div>
        </div>
        
    </div>
    
    <div class="course-profile-info">
            <div class="question-container">
                        
                    <button type="button" class="btn btn-primary askQuestion" data-toggle="modal" data-target="#exampleModalCenter">
                        Ask a Question
                    </button>
                    <h1 class="DiscussionTitle">
                        Questions asked in <%=course.Department%> <%=course.CourseCode%>
                </h1>
                    <div class="discussion-container">
                    </div>
                </div>
            </div>   
            </div>
    <!-- Scripts -->
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script src="../assets/js/Messages/messageFunctions.js"></script>

    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script type="text/javascript" src="../assets/js/ajaxCalls/CourseProfile.js"></script>
    <script type="text/javascript" src="../assets/js/ajaxCalls/getDiscussion.js"></script>
    <script type="text/javascript" src="../assets/js/ajaxCalls/joinCourse.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-storage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.12/dist/browser-image-compression.js"></script>
    <script type="text/javascript" src="../assets/js/firebaseConfig.js"></script>

    <script type="text/javascript" src="../assets/js/ajaxCalls/postDiscussion.js"></script>
    <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>
    <script type="text/javascript" src="../assets/js/Messages/newConversationAutocomplete.js"></script>    
    <script type="text/javascript" src="../assets/js/Messages/createThread.js"></script>
    <script type="text/javascript" src="../assets/js/tooltip.js"></script>
    <script src="../assets/js/connect.js"></script>
    <script src="../assets/js/follow-client.js"></script>
</body>


</html>