<!DOCTYPE html>
<head>
    <title>Accepted Bids | degreeMe</title>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/img/favicon.png" type="image/png" />
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">    <link href="../assets/css/main1.css" rel="stylesheet">
    <link href="../assets/css/home.css" rel="stylesheet">
    <link href="../assets/css/acceptedBids.css" rel="stylesheet">
    <script src="../assets/jquery/dist/jquery.js"></script>
   
    <!-- Will use this in the future -->
    <!-- <script type="text/javascript" src="../assets/js/statusAlerts.js"></script> -->
</head>


<body class="color-dark">
    <%- include ('partials/mobileComingSoon.ejs')%>
    <div class="homeWrap">
        
    <div class="">
        <%- include ('partials/sideBar.ejs')%>
        <%- include ('partials/horizontalHeader.ejs')%>
        <%- include ('partials/newMessageButton.ejs')%>
        <%- include ('partials/newMessageModal.ejs')%>

        <div class="home-wrapper">
            <%- include ('partials/myCoursesSideBar.ejs')%>
            <div class="timeline">
                <h1 class="text-light timeline-title">Bid Details</h1>
                <div class="timeline-container-status">
                    <div class="postHeader">
                        <div class="postRight">
                            <a class="btn btn-primary viewThread-btn" href="/messages?messageId=<%=acceptedBid.ThreadId%>">View Message Thread</a>
                        </div>
                        <p class="text-light winningBidder">Winning Bidder:<a href="/user/<%=acceptedBid.Bidder%>"><img class="winningBidderImg" src="<%=acceptedBid.BidderImg%>" />
                        <span class="bidderHandle"><%=acceptedBid.Bidder%></span></a></p>
                        <p class="userHandleText">Post created by <a href="/user/<%=acceptedBid.UserHandle%>"><%=acceptedBid.UserHandle%></a></p>
                        <p class="userHandleText">Amount Paid: $<%=acceptedBid.Price%> </p>
                    </div>
                  
                   
                    <div class="">
                        <p class="text text-light fundsTxt">Funds will be released on <%=formatDate(acceptedBid.DueDate)%> at 12:00 AM</p>

                    </div>
                   
                </div>
                <p class="fileUploads">We currently do not support file uploads, but we will in the coming weeks!</p>
            </div>
        </div>
    </div>
</div>   
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script src="../assets/js/jquery-maskMoney.js"></script>
    <script type="text/javascript" src="../assets/js/moneyInput.js"></script>
    <script type="text/javascript" src="../assets/js/CreateConversation_Autocomplete.js"></script>
    <script type="text/javascript" src="../assets/js/UpdateTimeline.js"></script>
    <script type="text/javascript" src="../assets/js/ajaxCalls/placeBid.js"></script>
    <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>

</body>

</html>