<!DOCTYPE html>
<head>
    <title>Home | degreeMe</title>
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="assets/css/main1.css" rel="stylesheet">
    <link href="/assets/css/home.css" rel="stylesheet">
    <link href="/assets/css/emptyHome.css" rel="stylesheet">
    <script src="assets/jquery/dist/jquery.js"></script>
   
    <!-- Will use this in the future -->
    <!-- <script type="text/javascript" src="../assets/js/statusAlerts.js"></script> -->
</head>


<body class="color-dark">
    <%- include ('partials/mobileComingSoon.ejs')%>
    <div class="homeWrap">
        <%- include ('partials/sideBar.ejs')%>
        <%- include ('partials/homeSideBar.ejs')%>
        <%- include ('partials/horizontalHeader.ejs')%>
        <%- include ('partials/newMessageButton.ejs')%>
        <%- include ('partials/newMessageModal.ejs')%>

        <div class="home-wrapper">
            <%- include ('partials/myCoursesSideBar.ejs')%>
            <% if(session.myCourses.length < 1){%>
                <div class="text_arrow_Container">
                    <div id="emptyHomeText">
                        <h1>Add your courses so your classmates can find you!</h1>
                        <img src="/assets/img/homeArrow_New.svg" />
                    </div>
                </div>
            <%}%>
           
            <div class="timeline">

                <h1 class="text-light timeline-title">Timeline</h1>
                <div class="timeline-container-status request-help-container">
                    <div class="helpRequest-body">
                        <img class="timelinePost-Image" src="<%=session.img%>" />
                    
                       <div class="requestHelp">
                        <div class="help-text-container">
                        <span 
                        class="input textarea" role="textbox" 
                        
                        contenteditable>Request help from the degreeMe community...</span>
                        </div>
                    </div>
                        <div class="requestHelpDetails">
                            <ul class="request-input-container">
                                <li>
                                    <label class="text-light">Asking Price</label>
                                    <p class="text-light priceContainer">$ <input type="text" class="askingPrice" placeholder="30.00" /></p>
                                    <p class="priceError"></p>
                                </li>
                                <li class="courseLi">
                                    <label class="text-light">Due Date</label>
                                    <input type="text" class="dueDate" id="dueDate" placeholder="Due Date" />
                                </li>
    
                               
                            </ul>
                            <label class="text-light">Optional</label><br>
                            <input class="tagCourse" type="text" placeholder="Tag a Course"/>
                                    <div class="tagCourse-wrapper">
                                        <div class="tagCourse-container"><p class="tagCourse-loading text-light">Search Courses</p></div>
                                    </div>
                            <div class="anonRadio">
                                <label class="text-light" for="yourself">Post as yourself</label>
                                <input id="yourself" name="requestType" type="radio" checked value="<%=session.handle%>" />
                                <label class="text-light secondLabel" for="anon">Post anonymously</label>
                                <input id="anon" name="requestType" type="radio" value="Anonymous" />
                            </div>
                            <p class="termsTxt"> <input type="checkbox" name="terms" class="terms"/><span class="termsMsg">I have read and agree to degreeMe's <a href="/terms">Terms and Conditions</a> and <a href="/policies">Privacy Policy</a></span> </p>

                            <div class="postBtn">
                                <input name="userName" type="hidden" value="<%=session.name%>"/>
                                <button class="btn btn-primary requestHelpBtn">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-container-status">
                    <img id="chill" src="/assets/img/guyChilling2.svg" />
                    <div class="postHeader">
                        <img class="timelinePost-Image" src="<%= session.img %>" />
                        <p class="timelinePost-username"><%= session.name %><p
                                class="postHandle"><%= session.handle %></p></p>
                    </div>

                    <p class="caption captionEmptyHome">Follow students and see their activity here!</p>

                    
                   
                </div>
            </div>
        </div>
    </div>
  
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script type="text/javascript" src="../assets/js/maskDate.js"></script>
    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery-maskMoney.js"></script>
    <script type="text/javascript" src="../assets/js/moneyInput.js"></script>
    <script type="text/javascript" src="/assets/js/CreateConversation_Autocomplete.js"></script>
    <script type="text/javascript" src="/assets/js/UpdateTimeline.js"></script>
    <script type="text/javascript" src="/assets/js/ajaxCalls/placeBid.js"></script>
    <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>

</body>

</html>