<!DOCTYPE html>
<head>
    <title>Groups | degreeMe </title>
    <meta charset="Content-Security-Policy: script-src 'unsafe-inline'" >
    
    <link rel="icon" href="/assets/img/favicon.png" type="image/png" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="/assets/css/main1.css" rel="stylesheet">
    <link href="/assets/css/home.css" rel="stylesheet">
    <link href="/assets/css/FindStudyGroups.css" rel="stylesheet">
     <!-- Google Tag Manager -->
   <script type="text/javascript" src="assets/js/googleTagManager.js"></script>
    <!-- End Google Tag Manager -->
    <!-- Scripts -->
    <script src="assets/jquery/dist/jquery.js"></script>
    
</head>

<body class="color-dark">
    <!-- Google Tag Manager (noscript) -->
    <%- include('partials/googleTagManager1.ejs') -%>
    <!-- End Google Tag Manager (noscript) -->

    <%- include ('partials/mobileComingSoon.ejs')%>
    <div class="homeWrap">
    <%- include ('partials/newMessageModal.ejs') %>
    <%- include ('partials/sideBar.ejs') %>
    <%- include ('partials/horizontalHeader.ejs')%>
    <div class="studyGroupsContentBlock">
        <!-- Modal -->
        <div class="modal fade" id="studyGroupModal" tabindex="-1" role="dialog" aria-labelledby="studyGroupModalLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="studyGroupModalLabel" style="color: black;">Leave</h4>
            </div>
            <div class="modal-body" style="color: black;">
            ...
            </div>
            <div class="modal-footer">
            <button id="studyGroupNo" type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button id="studyGroupYes" type="button" class="btn btn-danger">Yes</button>
            </div>
            </div>
            </div>
        </div>
        <div id="connectionSearchBarContainer">
            <%if (typeof groupName!=='undefined'){%>
            <h2 id="resultsShow" class="AllStudyGroupsHeader">Displaying Results for <%=groupName%></h2>
            <%}else if(typeof resultsErr === true){%>
            <h2 id="resultsShow" class="AllStudyGroupsHeader">No Results Found</h2>

            <%} else{%>
                <h3 class="studygroupsTitle">Groups for Your Courses <span class="btn btn-primary createStudyGroup">
                    <a href="/startAGroup">Start a Group</a></span></h3>
            
            <%}%>
            
            <!-- General Courses Shown, Test Case Right Now -->
            <div id="course-container">   
            <div class="studyGroup-wrapper">
                <%for(x in StudyGroups){/*for each subject*/%>
                    <div class="courseTitle-container">
                        <h3 class="courseTitle"><%=StudyGroups[x][0]%></h3>
                    </div>
                    <%for(i in StudyGroups[x][1]){//for each StudyGroup
                        if(StudyGroups[x][1][i][0]){/*if has StudyGroup*/%>
                            <div class="studyGroupItems">
                                <img class="StudyGroupsImage" src='<%=StudyGroups[x][1][i][0].HostImage%>' style="width: 207.28px;" />
                                <br>
                                <a class="groupName" href="/Group/<%=StudyGroups[x][1][i][0]._id%>">
                                    <h4 class="groupName"><%=StudyGroups[x][1][i][0].GroupName%></h4>
                                </a>
                                <!-- <h3 class="numMembers">25 Members</h3> -->
                                <%if(StudyGroups[x][1][i][1]){%>
                                    <form action="/#" method="post" id="form<%=x%>">
                                        <!-- <input name="unjoingroup" type="hidden" value="joinedGroup" /> -->
                                        <input name="joinGroup" type="hidden" value="<%=StudyGroups[x][1][i][0]._id%>" />
                                        <input name="unjoinGroupName" type="hidden" value="<%=StudyGroups[x][1][i][0].GroupName%>" />
                                        <button id="group<%=x +'' +i%>" data-status="unjoin" type="button"
                                                class="btn btn-success joinButton"
                                                data-group='<%=StudyGroups[x][1][i][0].GroupName%>'> Joined </button>
                                    </form>
                                <%}else{%>
                                    <form action="/#" method="post" id="form<%=x%>">
                                        <input name="joinGroup" type="hidden" value="<%=StudyGroups[x][1][i][0]._id%>" />
                                        <input name="groupName" type="hidden" value="<%=StudyGroups[x][1][i][0].GroupName%>" />
                                        <button id="group<%=x + ''+ i%>" data-status="join" type="button"
                                            class="btn btn-primary joinButton"> Join Group </button>
                                    </form>
                                <%}%>
                            </div>
                        <%}else{%>
                            <div class='nogroup-container'>
                                <div>
                                    <img class='no-study-group' src='assets/img/undraw_camping.svg'/>
                                    <div class='nogroup-right'>
                                        <h3 class='nogroup text-light'>No Study Groups Exist</h3>
                                        <a href='/startAGroup' class='createFirst'>Create the first!</a>
                                    </div>
                                </div>
                            </div>
                        <%}
                    }
                }%>
            </div>
                </div>
               
            </div>
        </div>
            <!-- <h2 class="noFind"> Can't find the results you're looking for? Try searching for them! </h2> -->
    </div>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/assets/js/getStudyGroups.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script src="../assets/js/joinGroups.js"></script>
    <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>

</body>

</html>