<!DOCTYPE html>
<head>
    <title>Home | degreeMe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="assets/css/main1.css" rel="stylesheet">
    <link href="assets/css/userProfile.css" rel="stylesheet">
    <link href="/assets/css/home.css" rel="stylesheet">
    <link href="/assets/css/listingCalendar.css" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script type="text/javascript" src="assets/js/googleTagManager.js"></script>
    <!-- End Google Tag Manager -->
    
    <!-- Require jQuery -->
    <script src="../assets/jquery/dist/jquery.js"></script>

</head>
<body class="color-dark">
        <!-- Google Tag Manager (noscript) -->
        <%- include('partials/googleTagManager1.ejs') -%>
        <!-- End Google Tag Manager (noscript) -->
    
    <div class="homeWrap">
        <%- include ('partials/sideBar.ejs')%>
        <%- include ('partials/homeSideBar.ejs')%>
        <%- include ('partials/horizontalHeader.ejs')%>
        <%- include ('partials/newMessageButton.ejs')%>
        <%- include ('partials/newMessageModal.ejs')%>
        <%- include ('partials/platformInvite.ejs')%>
        <%- include ('partials/mobile-search.ejs')%>
        <%- include ('partials/addTutoringCourseModal.ejs')%>
        <%- include ('partials/tutorAvailability.ejs')%>

        <input type="hidden" name="handle" value="<%=session.handle%>"/>
        <input type="hidden" name="stripeId" value="<%=session.stripeId%>"/>
        <input type="hidden" name="userId" value="<%=session.userId%>"/>
        <input type="hidden" name="tutor" value="<%=session.tutor%>"/>
        <div class="home-wrapper">
            <%-include ('partials/myCoursesSideBar.ejs')%>
            <div class="timeline">
                <!-- <p class="badge badge-danger">Mobile version of DegreeMe is under construction</p> -->
                <div class="mobile-actions">
                    <ul>
                        <li class="recentActivity mobile-actions-bottom-border"><div class="mobile-actions-item bg-primary">
                        </div><p class="text-light mobile-actions-text ">Recent Activity</p></li>
                        <li class="findATutor"><div class="mobile-actions-item">
                            
                        </div>
                        <p class="text-light mobile-actions-text">Find a Tutor</p></li>
                        <li class="askQuestion"><div class="mobile-actions-item">

                        </div><p class="text-light mobile-actions-text">Ask a Question</p></li>
                    </ul>
                </div>
                <!-- Include the timeline partial -->
                <%- include ('partials/timeline.ejs')%> 
                <div class="toast-body bg-danger text-light">
                    Error: File type not allowed
                  </div>
            </div>
            
        </div>
    </div>
    <!-- Scripts -->
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.9/datepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw==" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-storage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.12/dist/browser-image-compression.js"></script>
    <script type="text/javascript" src="../assets/js/nouislider.js"></script>
    <script type="text/javascript" src="../assets/js/maskDate.js"></script>
    <script type="text/javascript" src="../assets/js/mobile-actions.js"></script>
    <script type="text/javascript" src="/assets/js/ajaxCalls/getUserTimeline.js"></script>
    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script type="text/javascript" src="../assets/js/ajaxCalls/mobileCalendar.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script src="../assets/js/jquery-maskMoney.js"></script>
    <script type="text/javascript" src="../assets/js/moneyInput.js"></script>
    <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/togglePost.js"></script>
    <script type="text/javascript" src="../assets/js/emailInvite.js"></script>
    <script type="text/javascript" src="/assets/js/UpdateTimeline.js"></script>
    <script type="text/javascript" src="../assets/js/ajaxCalls/postDiscussion.js"></script>

    <script type="text/javascript" src="/assets/js/mobileNotifications.js"></script>
    <script type="text/javascript" src="/assets/js/ajaxCalls/placeBid.js"></script>
    <script type="text/javascript" src="/assets/js/ajaxCalls/addTutoringCourse.js"></script>
    <script type="text/javascript" src="/assets/js/askQuestion-validation.js"></script>
    <script type="text/javascript" src="/assets/js/detectScrollDirection.js"></script>
    <script type="text/javascript" src="../assets/js/Messages/newConversationAutocomplete.js"></script>
    <script type="text/javascript" src="../assets/js/Messages/messageFunctions.js"></script>
    <script type="text/javascript" src="../assets/js/Messages/createThread.js"></script>
    <script type="text/javascript" src="../assets/js/tooltip.js"></script>
    <script type="text/javascript" src="../assets/js/Tutoring/addTutoringCourse.js"></script>


    <!-- Below file was deleted. -->
    <!-- <script type="text/javascript" src="../assets/js/ajaxCalls/zeroNotificationCount.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->

    <script type="text/javascript" src="/assets/js/mobile-slider.js"></script>
    <!-- <script type="text/javascript" src="/assets/js/Video/watch.js"></script> -->
    <!-- <script type="text/javascript" src="../assets/js/statusAlerts.js"></script> -->
</body>

</html>