<!DOCTYPE html>
<head>
   <title>Create a Listing | degreeMe</title>
   <meta charset="UTF-8" >
   <!-- Stylesheets -->
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
   <link href="../assets/css/listingCalendar.css" rel="stylesheet">
   <link href="../assets/css/home.css" rel="stylesheet">
   <link href="../assets/css/main1.css" rel="stylesheet">
   <link href="../assets/css/HostASession.css" rel="stylesheet">
 
   <!-- Scripts -->
   <script src="assets/jquery/dist/jquery.js"></script>

   <!-- <script type="text/javascript" src="../assets/js/ajaxCalls/CreateStudyGroups.js"></script> -->
</head>

<body>
   <div class="page-container ">
      <%- include ('partials/sideBar.ejs') %>
      <%- include ('partials/horizontalHeader.ejs')%>
      <div class="homeContainer ">
         <div class="contentBlockHost">
            <div class="listingSuccess">
               <h3>Your tutor listing has been published!</h3>
               <img class="successImg" src="assets/img/undraw_completed.svg" />
            </div>

            <div id="signUpWrapper">
               <div class="earnCash-container">
            
               </div>

               <div id="hostSession-form" class="">
                  
                  <div class="createListingDiv">
                     <input id="name" type="hidden" name="name" value="<%=session.name%>" />
                     <small id="firstTxt"></small>
                     <h1 class="listingTypeHeader text-light first-header">What type of listing do you want to create?
                     </h1>
                     <ul class="listingTypeList">
                        <li class="listingTypeItem badge badge-primary">Individual Session</li>
                        <li class="listingTypeItem badge">Group Session</li>
                        <!-- <li class="listingTypeItem">Individual Subscription</li>
                                          <li class="listingTypeItem">Group Subscription</li> -->
                     </ul>
                     <input type="hidden" name="listingType" id="listingType" value="Individual Session" />
                     <p class="typeInfo">Only one user can join each time slot you select below.</p>
                     <div class="search-course-container">
                        <h1 class="listingTypeHeader text-light">Select a Course</h1>
                        <input name="course" id="courseName" type="text" class="input-field-createStudyGroup"
                           autocomplete="off" placeholder="Search Courses" style="text-transform: capitalize;" />
                        <p id="courseNameTxt"></p>
                        <div class="autocomplete-wrapper">
                           <div class="course-autocomplete">
                              <ul>
                                 <h3 class="loading-courses">Search Courses</h3>
                              </ul>
                           </div>

                        </div>

                     </div>
                     <div class="grade-container">
                        <h3 class="userInfoHeading text-light">What grade did you receive?</h3>
                        <select id="grade" class="host-session-select">
                           <option name="grade">Select Your Grade</option>
                           <option name="grade">A</option>
                           <option name="grade">B</option>
                        </select>
                     </div>
                     <div class="price-container">
                        <h1 class="userInfoHeading text-light">Listing Details</h1>
                        <form method="POST" action="/createSession" class="createSession">
                           <input type="hidden" id="schoolSignUp" value="<%=session.school%>" />
                           <input type="hidden" id="name" value="<%=session.name%>" />
                           <input type="hidden" id="image" value="<%=session.img%>" />
                           <input type="hidden" id="handle" value="<%=session.handle%>" />
                           <div class="listingDetailsContainer">
                              <p class="listingDetailsLabel text-light">Session Price per hour</p>
                              <div class="input-container-hostSession1">

                                 <i class="fa fa-user"><img src="assets/img/dollarWhite.svg" class="dollar-icon" /></i>
                                 <input type="text" name="hourlyRate" id="hourlyRate" class=" input-field-hostSession1"
                                    id="hourlyRate" value="0.00" placeholder="0.00" autocomplete="off" />
                                 <p class="fa fa-user icon hours"><strong>USD</strong>/hour</p>
                              </div>
                           </div>
                           <!-- <small>We take a 5% platform fee from this transaction</small> -->
                           <div class="listingDetailsContainer">
                              <p class="listingDetailsLabel">Session Duration</p>

                              <div class="input-container-hostSession1">
                                 <input id="duration" min="1" max="5" step="0.5" type="number" name="duration"
                                    class="input-field-hostSession1  <%=session.theme%>" id="duration" placeholder="1"
                                    value="1" autocomplete="off" />
                                 <p class="fa fa-user icon hours"><strong>Hour(s)</strong></p>
                              </div>
                           </div>
                           <div class="groupSesh">
                              <div class="listingDetailsContainer maxStudents-container">
                                 <p class="listingDetailsLabel">Maximum Students Allowed</p>
                                 <div class="input-container-hostSession1">
                                    <input value="1" step="1" min="1" max="7" type="number" name="maxStudents"
                                       class="input-field-hostSession1  <%=session.theme%>" id="maxStudents"
                                       placeholder="5" autocomplete="off" />
                                 </div>
                                 <small id="maxTxt"></small>
                              </div>
                           </div>
                     </div>
                     <div class="hourlyRateTxt-container">
                        <p id="hourlyRateTxt"></p>
                     </div>
                     <h3 class="userInfoHeading text-light">Where will the session take place?</h3>
                     <ul class="listingTypeList">
                        <li class="listingTypeItem1 badge badge-primary">Online</li>
                        <li class="listingTypeItem1 badge">Physical Location</li>
                        <!-- <li class="listingTypeItem">Individual Subscription</li>
                                          <li class="listingTypeItem">Group Subscription</li> -->
                     </ul>
                     <input type="hidden" name="listingType" id="listingType1" value="Individual Session" />
                     <p class="typeInfo1">When a user purchases this listing, you will be prompted to create a Zoom meeting.</p>
                     <!-- <div class="location-container">
                        <h3 class="locationLabel text-light">Building</h3>
                        <div class="location-input-wrapper">
                           <div class="input-container-hostSession1 location-input-container">


                              <input name="building" id="building" type="text"
                                 class="input-field-createStudyGroup location-input  <%=session.theme%>"
                                 placeholder="Atkins" autocomplete="off" />

                           </div>
                           <p id="buildingErr"></p>
                        </div>
                        <div class="">
                           <h3 class="locationLabel text-light">Room Number</h3>
   
                           <div class="input-container-hostSession1 location-input-container">
   
                              <input name="room" id="room" type="text"
                                 class="input-field-createStudyGroup location-input <%=session.theme%>" placeholder="G32"
                                 autocomplete="off">
   
                           </div>
                     </div>
                    
                        <p id="roomErr"></p>
                       
                     </div> -->
                     <div class="activeDiv">
                        <h2 class="userInfoHeading text-light">How long do you want this listing to be active?</h2>
                       
                     </div>
                     <div class="durationSliderContainer">
                        <select class="expiration host-session-select">
                           <option value="0">Select Expiration Date</option>
                           <option value="1">Expires in 1 week</option>
                           <option value="2">Expires in 2 weeks</option>
                           <option value="4">Expires in 1 month</option>
                        </select>
                     </div>
                     <p class="expirationTxt">Once the session expires, you can re-activate it by navigating to My Tutor Listings.</p>
                     <p class="expirationErr">Select an expiration date</p>
                     <input type="hidden" value="" name="listingDuration" id="listingDuration" />
                     <h1 class="userInfoHeading1 text-light">Click the time slots below to select your availability<span
                           class="scheduleErr">No time slots selected</span></h1>
                     <!-- Display calendar rows -->
                      
                        <div class="calendar-wrapper">
                           <%- include ('partials/calendarDisplay')%>
                        
                        </div>
                     <h5 class="disclaimer">By clicking the button below, you are entering into a binding agreement with
                        DEGREEME LLC, stating that you have taken <span class="thisCourse">this course</span> and
                        received a B or higher. </h5>
                     <button class="btn btn-primary loginLink" id="createListing">Create Listing</button>
                     
                     <br>
                     <p class="listingErrMsg"></p>
                     <input type="hidden" id="userId" value="<%=session.userId%>" />
                  </div>
                 
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div aria-live="polite" aria-atomic="true" style="position: fixed; bottom: 0; right: 0;min-height: 200px;margin-right:3%;" >
      <div class="toast" data-delay="1000">
        <div class="toast-body bg-danger text-light">
          Error: Timeslot overlap
        </div>
      </div>
    </div>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery-maskMoney.js"></script>
   <script type="text/javascript" src="assets/js/MoneyInput.js"></script>
   <script type="text/javascript" src="../assets/js/ajaxCalls/calendar.js"></script>
   <script type="text/javascript" src="../assets/js/hostSessionDOM.js"></script>
   <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>

</body>

</html>