<!DOCTYPE html>
    <head>
        <title>Leave a Review | degreeMe </title>
        <link rel="icon" href="../assets/img/favicon.png" type="image/png" />
        <meta charset="UTF-8">
        <link rel="icon" href="assets/img/favicon.png" type="image/png" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">        <link href="../assets/css/main1.css" rel="stylesheet">
        <link href="../assets/css/home.css" rel="stylesheet">
                 <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PTK9R96');</script>
    <!-- End Google Tag Manager -->

        <script src="../assets/jquery/dist/jquery.js"></script>
    
    </head>
    <body>
                 <!-- Google Tag Manager (noscript) -->
                 <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTK9R96"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                    <!-- End Google Tag Manager (noscript) -->
                    
        <%- include ('partials/mobileComingSoon.ejs')%>
        <div class="homeWrap">
        <div class="page-container">
            <%- include ('partials/sideBar.ejs')%>
            <%- include ('partials/horizontalHeader.ejs')%>
            <div class="homeContainer">
                
                    <div class="contentBlockReview">
                            <div class="reviewTitle"><h1 class="text-light">Rating <%=meeting.tutorHandle%> in <%=meeting.class%></h1></div>
                            <input type="hidden" class="tutorHandle" value="<%=meeting.userHandle%>"/>
                    <div id="reviewWrapper">
                            
                                <div class="review-form">
                                    <form method="POST" action="/LeaveAReview">
                                        <!-- <div class="">
                                            <label class="text-light" >Name</label>
                                            <input name="sender" type="text" class="reviewFieldDark form-control input-field1 <%=session.theme%>" id="Name" value="<%=session.handle%>" readonly="true"/>
                                        </div>
                                        <div class="">
                                            <label class="text-light">Tutor Name</label>
                                            <input name="receiver" type="email" class="form-control reviewFieldDark <%=session.theme%>" id="Email" value="<%=meeting.tutorHandle%>" readonly="true" />
                                        </div>
                                        <div class="">
                                                <label class="text-light">Course</label>
                                                <input name="course" type="email" class="form-control reviewFieldDark <%=session.theme%>" id="Email" value="<%=meeting.class%>" readonly="true" />
                                            </div> -->
                                        <div class="form-group">
                                            <label class="text-light reviewLabel">Rating</label>
                                            <div id="ratingContainer">
                                                <div class="rating">
                                                    <input type="radio" class="starVal" name="star" id="star1" value="5"><label for="star1"></label>
                                                    <input type="radio" class="starVal" name="star" id="star2" value="4"><label for="star2"></label>
                                                    <input type="radio" class="starVal" name="star" id="star3" value="3"><label for="star3"></label>
                                                    <input type="radio" class="starVal" name="star" id="star4" value="2"><label for="star4"></label>
                                                    <input type="radio" class="starVal" name="star" id="star5" value="1"><label for="star5"></label>
                                                </div>
                                                <small class="reviewStarErr"></small>
                                            </div>
                                        </div>
                                        <div class="">
                                            <label class="text-light reviewLabel">Comment</label>
                                            <textarea name="message" class="form-control reviewFieldDark reviewMsg <%=session.theme%>" cols="4"></textarea>
                                            <small class="reviewMsgErr"></small>
                                        </div>
                                        <br>
                                        <input name="connectionID" type="hidden" value="<%=meeting._id%>"/>
                                        <input name="tutor" type="hidden" value="<%=meeting.userHandle%>"/>
                                        <input name="course" type="hidden" value="<%=meeting.class%>"/>
                                        <button type="submit" class="btn btn-primary reviewSubmit">Submit Review</button>
                                        <br>
                                        <br>
                                    </form>
                                </div>
                        </div>
                </div>
                </div>
            </div>
            </div>
            <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
            <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
            <script src="../assets/js/getNotifications.js"></script>
            <script src="../assets/js/popper.min.js"></script>
            <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
            <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
            <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
            <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="../assets/js/reviewValidation.js"></script>
            <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>

    </body>
</html>