<!DOCTYPE html>
<head>
    <title>Tutoring Sessions | degreeMe</title>
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="assets/css/main1.css" rel="stylesheet">
    <link href="assets/css/userProfile.css" rel="stylesheet">
    <link href="assets/css/meetups.css" rel="stylesheet">
    <link href="assets/css/home.css" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script type="text/javascript" src="assets/js/googleTagManager.js"></script>
    <!-- End Google Tag Manager -->
    
    <!-- Scripts -->
    <script src="assets/jquery/dist/jquery.js"></script>
  
</head>
<body class="bodyClass">
            <!-- Google Tag Manager (noscript) -->
            <%- include('partials/googleTagManager1.ejs') -%>
            <!-- End Google Tag Manager (noscript) -->

    <%- include ('partials/mobileComingSoon.ejs')%>
    <div class="homeWrap">
    <div class="page-container">
        <%- include ('partials/sideBar.ejs') %>
        <%- include ('partials/horizontalHeader.ejs')%>
        <%- include ('partials/newMessageModal.ejs')%>
        <div class="homeContainer1">
            <div class="listContainer ">
                <ul class="myConnectionOptionList">
                    <li id="meetupsAll" class=" myConnectionOptions">All</li>
                    <li id="meetupsCurrent" class=" myConnectionOptions">Current</li>
                    <li id="meetupsPast" class="badge badge-primary myConnectionOptions">Past</li>
                </ul>
                <h3 class="noMeetups"></h3>
                <div class="tableContainer">
                    <div class="tableWrapper">
                        <table id="meetupsTable" class="table_">
                            <thead class="">
                                <tr>
                                    <th class="text-light">Role</th>
                                    <th class="text-light">Host</th>
                                    <th class="text-light">Date</th>
                                    <th class="text-light">Duration</th>
                                    <th class="text-light"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="myConnectionsWrapper">
                                   
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script type="text/javascript" src="../assets/js/Messages/newConversationAutocomplete.js"></script>   
    <script type="text/javascript" src="../assets/js/Messages/createThread.js"></script>
     <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script src="assets/js/meetupsClient.js"></script>
    <script src="assets/js/ajaxCalls/meetups.js"></script>
    <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>

</body>
</html>