<!DOCTYPE html>
<head>
    <title>Tutoring Sessions | degreeMe</title>
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="assets/css/main1.css" rel="stylesheet">
    <link href="assets/css/userProfile.css" rel="stylesheet">
    <link href="assets/css/meetups.css" rel="stylesheet">
    <link href="assets/css/home.css" rel="stylesheet">
                <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PTK9R96');</script>
    <!-- End Google Tag Manager -->
    <!-- Scripts -->
    <script src="assets/jquery/dist/jquery.js"></script>
  
</head>
<body class="bodyClass">
             <!-- Google Tag Manager (noscript) -->
             <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTK9R96"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                <!-- End Google Tag Manager (noscript) -->

    <%- include ('partials/mobileComingSoon.ejs')%>
    <div class="homeWrap">
    <div class="page-container">
        <%- include ('partials/sideBar.ejs') %>
        <%- include ('partials/horizontalHeader.ejs')%>
        <%- include ('partials/newMessageModal.ejs')%>
        <div class="homeContainer1">
            <div class="listContainer ">
                <ul class="myConnectionOptionList">
                    <li id="meetupsAll" class=" myConnectionOptions">All</li>
                    <li id="meetupsCurrent" class=" myConnectionOptions">Current</li>
                    <li id="meetupsPast" class="badge badge-primary myConnectionOptions">Past</li>
                </ul>
                <h3 class="noMeetups"></h3>
                <div class="tableContainer">
                    <div class="tableWrapper">
                        <table id="meetupsTable" class="table_">
                            <thead class="">
                                <tr>
                                    <th class="text-light">Tutor</th>
                                    <th class="text-light">Student</th>
                                    <th class="text-light">Class</th>
                                    <th class="text-light">Date</th>
                                    <th class="text-light">Time</th>
                                    <th class="text-light">Location</th>
                                    <th class="text-light">Members</th>
                                    <th class="text-light"></th>
                                  
                                
                                </tr>
                            </thead>
                            <tbody>
                                <div class="myConnectionsWrapper">
                                    <% for(x in meetups){%>
                                    <tr class="myConnectionContainer">
                                        <td class="text-light"><%=meetups[x].tutorHandle%></td>
                                        <td class="text-light"><%=meetups[x].userHandle%></td>
                                        <td class="text-light"><%=meetups[x].class%></td>
                                        <td class="text-light"><%= formatDate(meetups[x].date)%></td>
                                        <td class="text-light"><%= formatTime(meetups[x].date)%></td>
                                        <%if(meetups[x].Location.Building){%>
                                            <td class="text-light">Building: <%=meetups[x].Location.Building%> Room: <%=meetups[x].Location.Building%> </td>

                                        <%}else if(meetups[x].ZoomLink){%>
                                            <td class="text-light">Zoom Meeting</td>
                                            <%}else{%>
                                                <td class="text-light"><a class="btn btn-primary setLocation" href="meeting/<%=meetups[x]._id%>">Set Location</a></td>
                                            <%}%>
                                        <td>
                                            <%for(i in meetups[x].Members){%>
                                            <a href="/user/<%= meetups[x].Members[i].handle%>" class="memberImage"
                                                data-toggle="tooltip" title="<%= meetups[x].Members[i].handle%>">
                                                <img class="meetupsImg" src="<%=meetups[x].Members[i].image%>" />
                                            </a>
                                            <%}%>
                                        </td>
            
                                        <td></td>           
                                    </tr>
                                    <%}%>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script type="text/javascript" src="../assets/js/Messages/newConversationAutocomplete.js"></script>   
    <script type="text/javascript" src="../assets/js/Messages/createThread.js"></script>
     <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script src="assets/js/meetupsClient.js"></script>
    <script src="assets/js/ajaxCalls/meetups.js"></script>
    <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>

</body>
</html>