<!DOCTYPE html>
    <head>
        <title><%=meetup.description%> | degreeMe </title>
        <meta charset="UTF-8">
        <link rel="icon" href="../assets/img/favicon.png" type="image/png" />
        <!-- StyleSheets -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">        <link href="../assets/css/main1.css" rel="stylesheet">
        <link href="../assets/css/userProfile.css" rel="stylesheet">
        <link href="../assets/css/home.css" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">       
        <link href="../assets/css/meetupProfile.css" rel="stylesheet">
        
        <!-- Google Tag Manager -->
        <script type="text/javascript" src="assets/js/googleTagManager.js"></script>
        <!-- End Google Tag Manager -->

        <script src="../assets/jquery/dist/jquery.js"></script>
        
        <!-- <script type="text/javascript" src="../assets/js/ajaxCalls/courseProfile.js"></script> -->
    </head>
        <body class="color-dark">

              <!-- Google Tag Manager (noscript) -->
                <%- include('partials/googleTagManager.ejs') -%>
              <!-- End Google Tag Manager (noscript) -->

          <%- include ('partials/mobileComingSoon.ejs')%>
          <div class="homeWrap">
        <div class="page-container">
          <%- include ('partials/sideBar.ejs') %>
          <%- include ('partials/horizontalHeader.ejs')%>
            <div class="profile-wrapper">
              <div class="courseProfileContainer">
                <%- include ('partials/meetupProfileSideBar.ejs')%>
                  <div class="course-profile-header">
                        <div class="CourseHeader-wrapper">
                                    <div class="">
                                        <div class="">
                                          <div class="CourseTitle">
                                            <h1 class="courseName text-light"><%=meetup.description%> </h1>
                                            <p class="meetupHost text-light">Created by <a href="/user/<%=meetup.hostHandle%>"><%=meetup.hostHandle%></a> </p>
                                        </div>
                                            <!-- <h1 class="schoolNameProfile text-light" >UNC Charlotte</h1> -->
                                          
                                        </div>
                            </div>
                            
                    </div>
                    <div class="courseButtons">
                        
                            <input name="courseName" type="hidden" value=""/>
                            <a target="_blank" href="<%=meetup.ZoomLink%>" class="btn btn-primary">Go to Zoom Meeting</a>
                    </div>
            </div>
    </div>
    <div class="course-profile-info">
      <h2>Session Details</h2>
       <ul class="meetupList">
          <!-- <li class="meetupListItem"><span class="meetup-courseCode"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z"/>
            <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869z"/>
      </svg> CourseCode</span></li> -->
     
      <li class="meetupListItem"> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmarks-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12l-5-3-5 3V4z"/>
        <path d="M14 14l-1-.6V2a1 1 0 0 0-1-1H4.268A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v12z"/>
      </svg><%=meetup.CourseName%></li>
            <%if(meetup.type === "In-person"){%>
              <li class="meetupListItem"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                    </svg><span class="meetup-details">Type: </span><%=meetup.type%></li>
              <li class="meetupListItem"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
              </svg><span class="meetup-details">Building: </span> <%=meetup.building%></li>
               <li class="meetupListItem"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 4a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path d="M7.5 4h1v9a.5.5 0 0 1-1 0V4z"/>
                <path fill-rule="evenodd" d="M6.489 12.095a.5.5 0 0 1-.383.594c-.565.123-1.003.292-1.286.472-.302.192-.32.321-.32.339 0 .013.005.085.146.21.14.124.372.26.701.382.655.246 1.593.408 2.653.408s1.998-.162 2.653-.408c.329-.123.56-.258.701-.382.14-.125.146-.197.146-.21 0-.018-.018-.147-.32-.339-.283-.18-.721-.35-1.286-.472a.5.5 0 1 1 .212-.977c.63.137 1.193.34 1.61.606.4.253.784.645.784 1.182 0 .402-.219.724-.483.958-.264.235-.618.423-1.013.57-.793.298-1.855.472-3.004.472s-2.21-.174-3.004-.471c-.395-.148-.749-.336-1.013-.571-.264-.234-.483-.556-.483-.958 0-.537.384-.929.783-1.182.418-.266.98-.47 1.611-.606a.5.5 0 0 1 .595.383z"/>
              </svg><span class="meetup-details">Room:</span> <%=meetup.room%></li>
            <%}else{%>
              <li class="meetupListItem"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-display-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 12c0 .667-.083 1.167-.25 1.5H5a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-.75c-.167-.333-.25-.833-.25-1.5h4c2 0 2-2 2-2V4c0-2-2-2-2-2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h4z"/>
              </svg><span class="meetup-details"></span><%=meetup.type%></li>
              
            <%}%>
           
          <p class="datetime badge badge-warning">When: <%=formatDate(meetup.date)%> @
            <%=meetup.time%></p>
       </ul>
    </div>
  </div>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>

    </body>
</html>