<!DOCTYPE html>

<head>
    <title>My Finances | degreeMe </title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,viewport-fit=cover">
    <link rel="icon" href="/assets/img/favicon.png" type="image/png" />
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">    <link href="/assets/css/main1.css" rel="stylesheet">
    <link href="/assets/css/userProfile.css" rel="stylesheet">
    <link href="/assets/css/home.css" rel="stylesheet">
    <link href="/assets/css/myFinances2.css" rel="stylesheet">
    <!-- Scripts -->
    <script src="assets/jquery/dist/jquery.js"></script>
    <!-- For future use -->
    <!-- <script type="text/javascript" src=" https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> -->
    <script type="text/javascript" src="assets/js/weeklyEarningsChart.js"></script>
</head>

<body>
    <%- include ('partials/mobileComingSoon.ejs')%>
    <div class="homeWrap">
    <%- include ('partials/sideBar.ejs') %>
    <%- include ('partials/horizontalHeader.ejs')%>
    <%- include ('partials/newMessageButton.ejs')%>
    <div class="page-container ">

        <!-- <div class="homeContainer "> -->
        <%if(qs.msg){%>
        <h3 class="success-message"><%=qs.msg%></h3>
        <%}%>
        <div class="contentBlock3">
                <!-- My Finance page [Available Balance] -->
            <div id="moneyContainer">
    <div class="transactionHistory">
        
        <div class="container">
            <div class="twoBalances">
                <div class="timeline1">
                    <div class="timeline-container-status">
                        <div class="balanceText">
                                    <h1 class="depositTxt">
                                        <p class="available">Available Balance</p>
                                        $<%=balance.available[0].amount/100%>
                                    </h1>
                        </div>
                    </div>
                </div>
                <div class="timeline1">
                    <div class="timeline-container-status">
                        <div class="balanceText">
                           
                            <h1 class="depositTxt">
                                <p class="available pending">Pending Balance</p> $<%=balance.pending[0].amount/100%>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-light">Earnings appear here after the due date of the task has passed.</p>
            <h1 class="depositTxt1">Transaction History</h1>
            <table class="table" color="#FFF">
                <thead id="table2">
                    <tr>
                        <th class="text-light1">Type</th>
                        <th class="text-light1">Net</th>
                        <th class="text-light1">Amount</th>
                        <th class="text-light1">Fee</th>
                        <th class="text-light1"></th>
                        <th class="text-light1">Paid</th>
                        <th class="text-light1">Available</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0;i<history.length;i++){%>


                    <tr>
                        <%if(history[i].amount>0){%>
                        <td class="text-light1">Payment</td>
                        <%}else{%>
                        <td class="text-light1">Bank Payout</td>
                        <%}%>
                                    <td class="text-light1">$<%=history[i].net/100%></td>
                        <%if(history[i].amount>0){%>
                        <td class="text-light1">$<%=history[i].amount/100%></td>
                        <%}else{%>
                        <td class="text-light1"></td>
                        <%}%>
                                <td class="text-light1">$<%=history[i].fee/100%></td>

                        <%if(history[i].fee_details.length>0){
                                    var h = "";%>
                        <!-- Commented out below code and things are working? -->
                        <!-- for (var s=0;s< history[i].fee_details.length;s++){
                              amt=new String(history[i].fee_details[s].amount/100);
                              dec=amt.split(".");
                              if(dec[1].length==1){
                                amt+=0;
                              }
                              h+=history[i].fee_details[s].description + ": $" + amt + "\n";
                            } -->
                        <td class="text-light">
                            <a type="button" class="btn btn-mini btn-inverse" data-toggle="popover" data-trigger="hover"
                                data-title="Fee Descriptions" data-content="<%=h%>">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </td>
                        <%}else{%>
                        <td class="text-light"></td>
                        <%}%>
                                <td class="text-light1"><%=formatDate(new Date(history[i].created*1000))%></td>
                        <td class="text-light1"><%=formatDate(new Date(history[i].available_on*1000))%></td>
                    </tr>
                    <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>
</body> 
</html>  