<!DOCTYPE html>
    <head>
        <title> Settings | degreeMe</title>
        <link rel="icon" href="../assets/img/favicon.png" type="image/png" />
        <meta charset="UTF-8">

        <link href="assets/css/main1.css" rel="stylesheet">
        <link href="assets/css/home.css" rel="stylesheet">
        <link href="assets/css/userProfile.css" rel="stylesheet">
        <link href="assets/css/settings.css" rel="stylesheet">
        <link rel="stylesheet" href="../assets/js/croppie/croppie.css" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/connectByMajor.css">

        <!-- Google Tag Manager -->
	    <script type="text/javascript" src="assets/js/googleTagManager.js"></script>
        <!-- End Google Tag Manager -->
        
        <script src="assets/jquery/dist/jquery.js"></script>
        
        <!-- <script src="https://js.stripe.com/v3/"></script>    -->
    </head>
        <body>
            <!-- Google Tag Manager (noscript) -->
            <%- include('partials/googleTagManager1.ejs') -%>
            <!-- End Google Tag Manager (noscript) -->
          
            <div class="overlay"></div>
            <%- include ('partials/mobileComingSoon.ejs')%>
            <div class="homeWrap">
        <div class="page-container">
            <%- include ('partials/sideBar.ejs')%>
            <%- include ('partials/horizontalHeader.ejs')%>
            <%- include ('partials/newMessageModal.ejs')%>
            <div class="homeContainer">
                    <div class="contentBlock1">
                      <div class="settings-container">
                        <p class="settings-label">Change your major</p>
                        <form method="POST" action="/updateMajor">
                          <div id="searchBarWrapper">
                            <div id="searchBar" class="active-cyan-3 active-cyan-4 mb-4">
                               
                                    <div class="input-container1Light-settings">
                                        <button class="searchBtn"><svg class="text-light" width="1em" height="1em"
                                                viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                                <path fill-rule="evenodd"
                                                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                            </svg></button>
                                        <input id="searchInput" name="major" class=" input-field text-light "
                                            placeholder="Search Majors at UNC Charlotte" />
                                    </div>
                                    <div class="major-autocomplete-container">
                                        <div class="major-autocomplete-settings">
                                            <p class="searchMajors">Search Majors
                                            </p>
                                            <div class='major-results'>
                                               
                                            </div>
                                        </div>
                                    </div>
                           
                            </div>
                        </div>
                          <input class="btn btn-primary" type="submit"/>
                        </form>

                       
                </div>

                        
            </div>  
          </div>    
            </div>
                
        </div>
        <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
        <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
        <script src="../assets/js/getNotifications.js"></script>
        <script src="../assets/js/popper.min.js"></script>
        <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
        <script type="text/javascript" src="../assets/js/ajaxCalls/discoverClassmates_autocomplete.js"></script>
        <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
        <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
        <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/croppie/croppie.min.js"></script>
        <script type="text/javascript" src="assets/js/crop.js"></script>
        <script type="text/javascript" src="assets/js/FormValidation/settings-validation.js"></script>
        <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>
        <script type="text/javascript" src="../assets/js/Messages/newConversationAutocomplete.js"></script> 
        <script type="text/javascript" src="../assets/js/Messages/createThread.js"></script>
       
    </body>
</html>