<!DOCTYPE html>
    <head>
        <title>Study Groups | degreeMe </title>
        <meta charset="UTF-8">
        <!-- Stylesheets -->
        <link rel="icon" href="assets/img/favicon.png" type="image/png" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link href="assets/css/main1.css" rel="stylesheet">
        <link href="assets/css/home.css" rel="stylesheet">
        <link href="assets/css/createStudyGroup.css" rel="stylesheet">
        <link href="assets/css/userProfile.css" rel="stylesheet">

        <!-- Google Tag Manager -->
	    <script type="text/javascript" src="assets/js/googleTagManager.js"></script>
        <!-- End Google Tag Manager -->
        
        <!-- Scripts -->
        <script src="assets/jquery/dist/jquery.js"></script>
        <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    </head>
        <body class="color-dark">
             <!-- Google Tag Manager (noscript) -->
                <%- include('partials/googleTagManager1.ejs') -%>
            <!-- End Google Tag Manager (noscript) -->

            <%- include ('partials/mobileComingSoon.ejs')%>
            <div class="homeWrap">
        <div class="page-container ">
            <%- include ('partials/sideBar.ejs') %>
            <%- include ('partials/horizontalHeader.ejs')%>
            <%- include ('partials/inviteModal.ejs')%>
            <%- include ('partials/newMessageModal.ejs')%>
            <div class="homeContainer">
                    <div class="contentBlockHost">
                        <div id="signUpWrapper">
                            <input type="hidden" name="group_name" class="hiddenGroup"/>
                            <input type="hidden" name="group_name" class="hiddenGroupId"/>
                            <div id="hostSession-form" class="">
                             
                                    <input style="display:none" id="session" value="<%=session.theme%>"/>

                                  </div>        
                    </div>  
                </div>
                
                </div>
                
            </div>
            <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
            <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
            <script src="../assets/js/getNotifications.js"></script>
            <script src="../assets/js/popper.min.js"></script>
            <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
            <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
            <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
            <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="../assets/js/ajaxCalls/CreateStudyGroups.js"></script>
            <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>
            <script type="text/javascript" src="../assets/js/emailInvite.js"></script>
            <script type="text/javascript" src="../assets/js/Messages/newConversationAutocomplete.js"></script>
            <script type="text/javascript" src="../assets/js/Messages/createThread.js"></script>

    </body>
</html>