<!DOCTYPE html>

<head>
    <title><%=studyGroup.GroupName%> | degreeMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/img/favicon.png" type="image/png" />
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">    <link href="../assets/css/main1.css" rel="stylesheet">
    <link href="../assets/css/StudyGroupProfile.css" rel="stylesheet" />
    <link href="../assets/css/home.css" rel="stylesheet">
    <link href="../assets/css/messages.css" rel="stylesheet">
    <link href="../assets/css/story.css" rel="stylesheet">
    <link href="../assets/css/story-progress-bar.css" rel="stylesheet">

    <link rel="stylesheet" href="../assets/js/croppie/croppie.css" />


     <!-- Google Tag Manager -->
	<script type="text/javascript" src="../assets/js/googleTagManager.js"></script>
    <!-- End Google Tag Manager -->
    
    <!-- Scripts -->
    <script src="../assets/jquery/dist/jquery.js"></script>

    <!-- <script type="text/javascript" src="../assets/js/newMeetupDOM.js"></script> -->
</head>

<body class="color-dark">
    <!-- Google Tag Manager (noscript) -->
    <%- include('partials/googleTagManager1.ejs') -%>
    <!-- End Google Tag Manager (noscript) -->
        <div class="blocker"></div>
    <div class="homeWrap">
    <div class="page-container">
        <%- include ('partials/newMeetupModal.ejs') %>
        <%- include ('partials/groupHeader.ejs')%>
        <%- include ('partials/groupMembersSideBar.ejs')%>
        <%- include ('../Groups/partials/groupThreads.ejs')%>
        <%- include ('../Groups/partials/groupChatModal.ejs')%>
        <%- include ('../Groups/partials/Story.ejs')%>
        <%- include ('../Groups/partials/addStory.ejs')%>

        <div class="profile-wrapper">
            <input type="hidden" name="upload-type" value="banner"/>
            
                <div class="header-image">
                    <button class="changeBanner-btn btn openImageEditor">Change Banner</button>
                    <p class="bannerSuccess badge badge-success">Banner Successfully Changed</p>
                   <img class="bannerImg" src="<%=studyGroup.BannerImage%>"/>
                </div>
                <div class="groupImg-container">
                        <img data-toggle="tooltip" data-placement="bottom" title="View Story" 
                        class="groupImg" src="<%=groupImg%>"/>
                </div>
                <div class="img-upload-container">
                    <div class="img-secondary-wrapper">
                        <input type='hidden' name='img1' class='croppedImg' value="" required />
                        <input type="file" class="upload-file upload" value="Upload an Image"
                            accept="image/gif, image/jpeg, image/png">
                        <span class="text-dark picX"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                          </svg></span>
                        <div class="upload-demo"></div>
                        <input name="img1 imagebase64" type="hidden" />
                        <div class="upload-result btn-primary">Use</div>
                    </div>
                </div>
                <div class="messageBlock" >    

                    <div id="messagesContainer">  

                    </div>
                 </div>
                <%- include ('../Messages/partials/MessageInput.ejs')%>
                
        </div>
        <audio id="pop">
            <source src="../assets/sounds/Blop-Mark_DiAngelo-79054334.mp3" type="audio/mpeg">
        </audio>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script type="text/javascript" src="../assets/js/group-mobile.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/getStudyGroups.js"></script>
    <script type="text/javascript" src="../assets/js/follow-client.js"></script>
    <script type="text/javascript" src="../assets/js/createMeetup-client.js"></script>
    <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>
    <script type="text/javascript" src="../assets/js/tooltip.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/getGroupsImages.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/getGroupMembers.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/addGroupChat.js"></script>
    <script type="text/javascript" src="../assets/js/Messages/messageFunctions.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/getGroupThreads.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/story-progress-bar.js"></script>

    <script src="../assets/js/socket.io.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-storage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.12/dist/browser-image-compression.js">
    </script>
    <script src="../assets/js/firebaseConfig.js"></script>
    <script type="text/javascript" src="../assets/js/messages.js"></script>
    <script src="../assets/js/croppie/croppie.min.js"></script>
    <script type="text/javascript" src="../assets/js/crop.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/story.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/addStory.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/Groups/addStoryResponse.js"></script>



</body>

</html>