<!DOCTYPE html>
<head>
    <title><%=user.handle%> | degreeMe</title>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/img/favicon.png" type="image/png" />
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">    <link rel="stylesheet" href="../assets/js/croppie/croppie.css" />
    <link href="../assets/css/main1.css" rel="stylesheet">
    <link href="../assets/css/home.css" rel="stylesheet">
    <link href="../assets/css/userProfile.css" rel="stylesheet">
    <link href="../assets/css/profile.css" rel="stylesheet">
    <!-- <link href="../assets/css/settings.css" rel="stylesheet"> -->
    <link href="../assets/css/SignUp.css" rel="stylesheet">
    <link href="../assets/css/tutorGrid.css" rel="stylesheet">
    <!-- Scripts -->
    <script src="../assets/jquery/dist/jquery.js"></script>
    
</head>
<body class="color-dark">
    <div class="overlay"></div>
    <div class="page-container">
        <%- include ('partials/followersModal.ejs') %>
        <%- include ('partials/followingModal.ejs') %>
        <%- include ('partials/profileMessageModal.ejs') %>
        <%- include ('partials/sideBar.ejs') %>
        <%- include ('partials/horizontalHeader.ejs')%>

        <div class="profileContainer">

            <div class="profile-header">
                <div class="profileHeader">
                    <div class="profile-img-container">
                        <%if(session.handle === user.handle){%>
                        <div class="img">
                            <a class="img" href="#">
                                <div class="img__overlay" id="img-btn">Edit Photo</div>
                                <img src="../<%=user.img%>" width="120" alt="Profile Picture" class="profile-img"
                                    id="userImage" />

                            </a>
                        </div>

                        <div id="img-upload-container">
                            <div id="img-secondary-wrapper">
                                <input type='hidden' name='img1' id='croppedImg' value="" required />
                                <input type="file" id="upload" class="upload-file" value="Upload an Image"
                                    accept="image/gif, image/jpeg, image/png">
                                <span class="text-dark picX"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                  </svg></span>
                                <div id="upload-demo"></div>
                                <input name="img1" type="hidden" id="imagebase64" />
                                <div class="upload-result btn-primary">Use</div>
                            </div>
                        </div>
                        <div class="profile-name">
                            <h1 class="tutorName text-light"><%=user.first_name + ' '+ user.last_name%></h1>
                            <h1 class="userProfileHandle"><%= user.handle%>
                                <%}else{%>
                                <div class="profile-img-container">
                                    <img src="../<%=user.img%>" width="120" alt="Profile Picture" class="profile-img"
                                        id="userImage" />
                                </div>
                                <div class="profile-name">
                                    <h1 class="tutorName text-light"><%=user.first_name + ' '+ user.last_name%></h1>
                                    <h1 class="userProfileHandle"><%= user.handle%>
                                        <%}%>
                                            <% if(user.Tutor === true){%>
                                        <a class="memberImage" data-toggle="tooltip" data-placement="top"
                                            title="degreeMe Tutor">
                                            <img class="tutorBadge" src="../assets/img/tutorBadge.svg" />
                                        </a>
                                        <%}%>
                                                
                                            </h1>
                                           </div>
                                        </div>
                                             <!-- Make sure you re-enter dynamic school once UNCC school name changed at sign up tutor.School-->
                                            <!-- <h1 class="schoolNameProfile text-light" >UNC Charlotte</h1> -->
                                            
                                        <!-- If user is a tutor, display average rating and reviews -->
                                        
                                   </div>
                    <div class="connectionBody-container">   
            <div class="tutorMiddle">
                <%if(session.handle === user.handle){%>
                    <p class="profileBio"><textarea maxlength="150" id="changeBio" class=""
                        readonly><%=user.bio%> </textarea>
                        <a class="memberImage" data-toggle="tooltip" data-placement="top" title="Edit Bio">
                            <span class="btn btn-primary editBio">Edit Bio
                            </span>
                        </a>
                    </p>
                <%}else{%>
                    <%if(user.bio === "Tell the world a bit about yourself"){%>
                        <p class="profileBio"><%=user.handle%> has not set a bio.
                    <%}else{%>
                    <p class="profileBio"><%=user.bio%>
                    <%}%>
                    </p>
                    
                <%}%>
                <div class="followers-container">
                    <ul class="followers-list">
                        <li class="followers-item"> 
                            <button type="button" class="followModal" data-toggle="modal" data-target="#followerModal" name = "New Message">  
                            <h1><span><%=followerCount%></span> <span>
                                    <% if(followerCount> 1){%>
                                    Followers
                                    <%}else{%>
                                    Follower
                                    <%}%>
                               </span></h1>
                            </button>
                        </li>
                        <li class="followers-item"> 
                            <button type="button" class="followModal" data-toggle="modal" data-target="#followingModal">
                                <h1><%=followingCount%> <span>Following</span>
                                </h1>
                            </button>
                        </li>
                    </ul>
                </div>
                        <div class="ProfileButtons">
                            <!-- Modal -->
                            <div class="modal fade" id="profileModal" tabindex="-1" role="dialog"
                                aria-labelledby="profileModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content modal-dark">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="profileModalLabel"
                                                style="color: white; text-align:left">Unfollow</h4>
                                        </div>
                                        <div class="modal-body" style="color: white;">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button id="profileNo" type="button" class="btn btn-default"
                                                data-dismiss="modal">No</button>
                                            <button id="profileYes" type="button" class="btn btn-danger">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% var noAtHandle=user.handle.replace('@','')%>

                            <% if(session.handle != user.handle){%>

                            <% if(following){%>
                            <form action="/#" class="followForm" method="post" id="unfollow-form">
                                <input name="followingHandle" type="hidden" value="<%=user.handle%>" />
                                <input name="followingImg" type="hidden" value="<%=user.img%>" />
                                <button id="<%=noAtHandle%>" data-status="unfollow" type="button"
                                        class="btn btn-sm followingButton following-class"
                                         data-handle='<%=user.handle%>'>
                                        Following</button>
                            </form>

                            <%}else{%>
                            <form action="/#" class="followForm" method="post" id="follow-form">
                                <input name="followingHandle" type="hidden" value="<%=user.handle%>" />
                                <input name="followingImg" type="hidden" value="<%=user.img%>" />
                                <button id="<%=noAtHandle%>" data-status="follow" type="button"
                                        class="btn btn-primary btn-sm followingButton follow-class">
                                        Follow</button>
                            </form>
                            <%}%>
                    <button type="button" class="btn-primary sendMessage" data-toggle="modal" data-target="#profileMessageModal">
                        Send Message
                      </button>
                    <%}%>
                        </div>

                    </div>

                </div>

                <div class="profileBody">

                    <div class="profileNav">
                        <ul class="profile-ul">
                            <li class="courseTab tab-selected">COURSES</li>
                            <%if(user.Tutor){%>
                            <li class="tutorTab">TUTORING</li>
                            <li class="reviewsTab">REVIEWS</li>
                            <%}%>
                    <li class="groupsTab">GROUPS</li>
                </ul>
            </div>
                    
            </div>
            </div>
        </div>
       
        <div class="profile-info">
            <div class="spinner-container1">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
                <span class="loading-span">Loading</span>
            </div>
            
            <ul class="profile-item-list">
               
                <% for(x in user.myCourses){%>
                            <a class="courseLink" href="/Course/<%=user.myCourses[x].courseName%>" data-toggle="tooltip"
                                data-placement="top" title="<%=user.myCourses[x].courseName%>">
                                <div class="course-container">

                                    <!-- <h3 class="courseName1"><%=user.myCourses[x].courseName%></h3> -->
                                    <h5 class="courseCode1"><%=user.myCourses[x].courseCode%></h5>
                                    <span class="badge badge-success profile-student-count">#UNCC</span>

                                </div>
                            </a>

                            <%}%>
            </ul>
        </div>

        <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/croppie/croppie.min.js"></script>
        <script type="text/javascript" src="../assets/js/crop.js"></script>
        <!-- Use below script to get all tabs working -->
        <!-- <script type="text/javascript" src="../assets/js/Profile.js"></script> -->
        <script type="text/javascript" src="../assets/js/ajaxCalls/UserProfile.js"></script>
        <script type="text/javascript" src="../assets/js/ajaxCalls/userProfile-sendMessage.js"></script>
        <script src="../assets/js/connect.js"></script>
        <script src="../assets/js/follow-client.js"></script>
        <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>

    </body>
</html>