<!DOCTYPE html>
<head>
    <title><%=user.handle%> | degreeMe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/favicon.png" type="image/png" />
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">   
    <link rel="stylesheet" href="../assets/js/croppie/croppie.css" />
    <link href="../assets/css/main1.css" rel="stylesheet">
    <link href="../assets/css/home.css" rel="stylesheet">
    <link href="../assets/css/userProfile.css" rel="stylesheet">
    <link href="../assets/css/profile.css" rel="stylesheet">
    <link href="../assets/css/settings.css" rel="stylesheet">
    <!-- <link href="../assets/css/settings.css" rel="stylesheet"> -->
    <link href="../assets/css/SignUp.css" rel="stylesheet">
    <link href="../assets/css/tutorGrid.css" rel="stylesheet">


    <!-- Google Tag Manager -->
	<script type="text/javascript" src="assets/js/googleTagManager.js"></script>
    <!-- End Google Tag Manager -->
    
    <!-- Scripts -->
    <script src="../assets/jquery/dist/jquery.js"></script>
    
</head>
<body class="color-dark">

<!-- Google Tag Manager (noscript) -->
<%- include('../UserLoggedIn/partials/googleTagManager1.ejs') -%>
<!-- End Google Tag Manager (noscript) -->

    <div class="overlay"></div>
    <div class="homeWrap">
    <div class="page-container">
        <%- include ('../UserLoggedIn/partials/followersModal.ejs') %>
        <%- include ('../UserLoggedIn/partials/followingModal.ejs') %>
        <%- include ('partials/profileMessageModal.ejs') %>
        <%- include ('../UserLoggedIn/partials/sideBar.ejs') %>
        <%- include ('../UserLoggedIn/partials/horizontalHeader.ejs')%>
        <%- include ('../UserLoggedIn/partials/newMessageModal.ejs')%>
        <%- include ('partials/editMajorModal.ejs')%>
        <div class="profileContainer">
            <div class="profile-header">
                <div class="header-wrapper">
                <div class="profileHeader">
                    <div class="profile-img-container">
                        <%if(session.handle === user.handle){%>
                        <div class="img">
                            <a class="img" href="#">
                                <div class="img__overlay img-btn">Edit Photo</div>
                                <img src="<%=session.img%>" width="120" alt="Profile Picture" class="profile-img editImg"/>
                            </a>
                        </div>

                        <div class="img-upload-container">
                            <div class="img-secondary-wrapper">
                                <input type='hidden' name='img1' class='croppedImg' value="" required />
                                <input type="file" class="upload-file upload" value="Upload an Image"
                                    accept="image/gif, image/jpeg, image/png">
                                <span class="text-dark picX"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                  </svg></span>
                                <div class="upload-demo"></div>
                                <input name="img1 imagebase64" type="hidden" />
                                <div class="upload-result btn-primary">Use</div>
                            </div>
                        </div>
                        <div class="profile-name">
                            <h1 class="tutorName text-light"><%=user.first_name + ' '+ user.last_name%></h1>
                            <h1 class="userProfileHandle"><%=user.handle%>
                                
                                <%}else{%>
                                <div class="profile-img-container">
                                    <img src="<%=user.img%>" width="120" alt="Profile Picture" class="profile-img userImage editImg"
                                         />
                                </div>
                                <div class="profile-name">
                                    <h1 class="tutorName text-light"><%=user.first_name + ' '+ user.last_name%></h1>
                                    <h1 class="userProfileHandle"><%=user.handle%>
                                <%}%>
                               
                                <% if(user.Tutor === true){%>
                                    <input type="hidden" name="isTutor" value="true"/>
                                    <a class="memberImage" data-toggle="tooltip" data-placement="bottom"
                                        title="Verified Tutor">
                                        <img class="tutorBadge" src="../assets/img/tutorBadge.svg" />
                                    </a>
                                    <%}else{%>
                                        <input type="hidden" name="isTutor" value="false"/>
                                    <%}%>
                                                
                                            </h1>
                                           
                                               
                                           </div>
                                           <div class="majorContainer mobileMajorSpan">
                                           
                                            <p class="profileMajor"><span class="majorSpan"><%=user.Major%></span></p>
                                            <%if(session.handle === user.handle){%>
                                                <span>Add Major</span>
                                            <%}%>
                                        </div>
                                        </div>
                                        
                                             <!-- Make sure you re-enter dynamic school once UNCC school name changed at sign up tutor.School-->
                                            <!-- <h1 class="schoolNameProfile text-light" >UNC Charlotte</h1> -->
                                            
                                        <!-- If user is a tutor, display average rating and reviews -->
                                        <p class="badge badge-warning profile-uploading-image">Uploading Image...</p>
                                   </div>
                                  
                    <div class="connectionBody-container">   
            <div class="tutorMiddle">
                <div class="followers-container">
                    <ul class="followers-list">
                        <li class="followers-item"> 
                            <button type="button" class="followModal" data-toggle="modal" data-target="#followerModal" name = "New Message">  
                            <h1 class="mobileCount"><%=followerCount%></h1>
                            <h1><span class="desktopFollow"><%=followerCount%></span> <span>
                                    <% if(followerCount === 1){%>
                                    <span class="followers-text">Follower</span>
                                    <%}else{%>
                                        <span class="followers-text">Followers</span>
                                    <%}%>
                               </span></h1>
                            </button>
                        </li>
                        <li class="followers-item"> 
                            <button type="button" class="followModal following-modal" data-toggle="modal" data-target="#followingModal">
                                <h1 class="mobileCount"><%=followingCount%></h1>
                                <h1><span class="desktopFollow"><%=followingCount%></span> <span class="following-text">Following</span>
                                </h1>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="majorContainer desktopMajor">
                    <p class="profileMajor"><span class="majorSpan"><%=user.Major%></span>
                    <%if(session.handle === user.handle){%>
                        <span data-toggle="modal" data-target="#editBioModal" >
                            <span class="editMajorSpan" data-toggle="tooltip" data-placement="right" title="Edit Major">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                  </svg>
                            </span>
                            
                        </span>
                    <%}%>
                </p>
                </div>
                <%- include ('partials/desktopBio.ejs') %>
                <%- include ('partials/profileButtons.ejs') %>
                        

                    </div>

                </div>
                <%- include ('partials/mobileBio.ejs') %>

                <div class="profileBody">

                    <div class="profileNav">
                        <ul class="profile-ul">
                            <li class="courseTab tab-selected">COURSES</li>
                            <%if(user.Tutor){%>
                            <li class="tutorTab">TUTORING</li>
                            <li class="reviewsTab">REVIEWS</li>
                            <%}%>
                    <li class="groupsTab">GROUPS</li>
                </ul>
            </div>
                    
            </div>
            </div>
            
        </div>
       
        <div class="profile-info">
            <div class="spinner-container1">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
                <p class="loading-span">Loading</p>
            </div>
            
            <ul class="profile-item-list">
               
                <% for(x in user.myCourses){%>
                            <a class="courseLink" href="/course/<%=user.myCourses[x].courseName%>">
                                <div class="course-container" data-toggle="tooltip"
                                data-placement="bottom" title="<%=user.myCourses[x].courseName%>">

                                    <!-- <h3 class="courseName1"><%=user.myCourses[x].courseName%></h3> -->
                                    <h5 class="courseCode1"><%=user.myCourses[x].courseCode%></h5>
                                    <span class="badge badge-success profile-student-count">#UNCC</span>

                                </div>
                            </a>

                            <%}%>
            </ul>
        </div>
    </div>
    </div>
</div>
</div>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../assets/js/tooltip.js"></script>

    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/croppie/croppie.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
     <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-storage.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.12/dist/browser-image-compression.js"></script>
     <script type="text/javascript" src="../assets/js/firebaseConfig.js"></script>

     <script type="text/javascript" src="../assets/js/crop.js"></script>
        <script type="text/javascript" src="../assets/js/ajaxCalls/UserProfile.js"></script>
        <script type="text/javascript" src="../assets/js/ajaxCalls/userProfile-sendMessage.js"></script>
        <script type="text/javascript" src="../assets/js/Messages/newConversationAutocomplete.js"></script>      
        <script type="text/javascript" src="../assets/js/Messages/createThread.js"></script>
          <script src="../assets/js/connect.js"></script>
        <script src="../assets/js/follow-client.js"></script>
        <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>
        <script type="text/javascript" src="../assets/js/ajaxCalls/discoverClassmates_autocomplete.js"></script>
        <script type="text/javascript" src="../assets/js/UserAccount/updateMajor.js"></script>

    </body>
</html>