
<% var currDay = new Date().getDay()%>
<% var currTime = new Date().getTime()%>
<% var currDate = new Date();%>
<% var dayArray = ["Sunday", "Monday","Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];%> 
<!-- algo to determine current day, and subsequent days -->
<% function orderDays(currDay, dayArray){%>
   
   <% var days = [];%>
   <% for(var x = 0; x< dayArray.length; x++){%>
     <% days.push((dayArray[(x+currDay)%7]))%>
   <%}%>
   <%return days;%>
<%}%>

<% function staggerDates(stagger){%>
  <%var currDate = new Date();%>
  <%currDate.setDate(currDate.getDate()+(stagger*7));%>
<%}%>

<% function orderDates(stagger){%>
   <% var dates = [];%>
   <% var datesFinal = [];%>
   <%var currDate = new Date();%>
   <%currDate.setDate(currDate.getDate()+(stagger*7));%>
   <% for(var x = 0; x< 7; x++){%>
      <% if( x == 0){%>
         <%currDate.setDate(currDate.getDate());%>
         <% var prettyDateArr = currDate.toString().split(" ");%>
         <%if(prettyDateArr[2].split("")[0] === "0"){%>
          <% dates.push(prettyDateArr[1] + " " +prettyDateArr[2].split("")[1] )%>
        <%}else{%>
          <% dates.push(prettyDateArr[1] + " " +prettyDateArr[2])%>
        <%}%>
      <%}else{%>
   
         <%currDate.setDate(currDate.getDate() +  1);%>
         <% var prettyDateArr = currDate.toString().split(" ");%>
         <%if(prettyDateArr[2].split("")[0] === "0"){%>
          <% dates.push(prettyDateArr[1] + " " +prettyDateArr[2].split("")[1] )%>
        <%}else{%>
          <% dates.push(prettyDateArr[1] + " " +prettyDateArr[2])%>
        <%}%>
        
      <%}%>
    
   <%}%>
   <%return dates;%>
<%}%>

<% function orderTimes(currDay, dayArray){%>
   
   <% var days = [];%>
   <% for(var x = 0; x< dayArray.length; x++){%>

     <% days.push(((x+currDay)%7))%>
   <%}%>
   <%return days;%>
<%}%>

<%for(var i = 0 ; i <4; i++){%>
         <% var days = orderDays(currDay, dayArray);%> 
         <% var times = orderTimes(currDay, dayArray);%> 
         <% var dates = orderDates(i);%> 
          <%if(i == 0){%>
            <%for(var j =0; j< 4; j++){%>
            <% var dateButtons = orderDates(j);%>
            <% var button1 = dateButtons[0] + " - " + dateButtons[6]; %>
              <%if(j == 0){%>
                <span class="badge badge-secondary bg-primary dateButtons" id="dateButton<%=j%>"><%=button1%></span>

              <%}else{%>
                <span class="badge badge-secondary dateButtons" id="dateButton<%=j%>"><%=button1%></span>
                <%}%>
            <%}%>
          <%}%>
          <%if(true){%>
          <div class="calendarContainer" id="calendar<%=i%>">
            <table>
               <thead>
         <%for(x in dates){%>
            <%if(x == 0 && i == 0){%>
               <th ><span class="badge badge-primary today">Today</span><p class="dateTxtHostSession"><%=dates[x]%></p></th>
            <%}else{%>
            <th><%=days[x]%><p class="dateTxtHostSession"><%=dates[x]%></p></th>

            <%}%>
         <%}%>
  
      </thead>
         <tr>
            <%for(x in times){%>
              <%console.log((currDate.getHours()))%>
              <%if(currDate.getDay() === times[x] && (8 - currDate.getHours()) < 0  && i == 0){%>
                 <!-- if curr date === times[x]  && currTime - 8 === negative, then disable select-->
               <td class="bg-secondary"><label><p class="timeLabel">8 AM</p><p class="newTime"></p></label><input type="radio" value="8-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
             <% }else{%>
              <td><label><p class="timeLabel">8 AM</p><p class="newTime"></p></label><input type="radio" value="8-<%=times[x]%>"/><div class='deleteTime'>x</div></td>

           <%}%>
            <%}%>
         </tr>
         <tr>
          <%console.log(9-(currDate.getHours()+1))%>
            <%for(x in times){%>
              
              <%if(currDate.getDay() === times[x] && (9 - currDate.getHours()) < 0  && i == 0){%>
               <td class="bg-secondary"><label><p class="timeLabel">9 AM</p><p class="newTime"></p></label><input type="radio" value="9-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
              <%}else{%>
                <td><label><p class="timeLabel ">9 AM</p><p class="newTime"></p></label><input type="radio" value="9-<%=times[x]%>"/><div class='deleteTime'>x</div></td>

              <% } %>
               <%}%>
          
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] && (10 - (currDate.getHours())) < 0  && i == 0){%>
            <td class="bg-secondary"><label><p class="timeLabel">10 AM</p><p class="newTime"></p></label><input type="radio" value="10-<%=times[x]%>"/><div class='deleteTime'>X</div></td>
           <%}else{%>
            <td><label><p class="timeLabel">10 AM</p><p class="newTime"></p></label><input type="radio" value="10-<%=times[x]%>"/><div class='deleteTime'>X</div></td>
            <%}%>
            <%}%>
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] && (11 - (currDate.getHours()+1)) < 0 && i == 0){%>
            <td class="bg-secondary"><label><p class="timeLabel">11 AM</p><p class="newTime"></p></label><input type="radio" value="11-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
           <%}else{%>
            <td><label><p class="timeLabel">11 AM</p><p class="newTime"></p></label><input type="radio" value="11-<%=times[x]%>"/><div class='deleteTime'>x</div></td>

            <%}%>
            <%}%>
       </tr>
       <tr>
         <%for(x in times){%>

          <%if(currDate.getDay() === times[x] && (12 - (currDate.getHours()+1)) < 0 && i == 0){%>
            <td class="bg-secondary"><label><p class="timeLabel">12 PM</p><p class="newTime"></p></label><input type="radio" value="12-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
            <%}else{%>
              <td><label><p class="timeLabel">12 PM</p><p class="newTime"></p></label><input type="radio" value="12-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
  
              <%}%>
            <%}%>
         
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] && (13 - (currDate.getHours()+1)) < 0 && i == 0){%>
            <td class="bg-secondary"><label><p class="timeLabel">1 PM</p><p class="newTime"></p></label><input type="radio" value="13-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
            <%}else{%>
              <td><label><p class="timeLabel">1 PM</p><p class="newTime"></p></label><input type="radio" value="13-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
  
              <%}%>
            <%}%>
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] && (14 - (currDate.getHours()+1)) < 0 && i == 0 ){%>
            <td class="bg-secondary"><label><p class="timeLabel">2 PM</p><p class="newTime"></p></label><input type="radio" value="14-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
            <%}else{%>
              <td><label><p class="timeLabel">2 PM</p><p class="newTime"></p></label><input type="radio" value="14-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
              <%}%>
            <%}%>
          
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] && (15 - (currDate.getHours()+1)) < 0 && i == 0){%>
            <td class="bg-secondary"><label><p class="timeLabel">3 PM</p><p class="newTime"></p></label><input type="radio" value="15-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
            <%}else{%>
              <td><label><p class="timeLabel">3 PM</p><p class="newTime"></p></label><input type="radio" value="15-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
              <%}%>
            <%}%>
         
          
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] &&(16 - (currDate.getHours()+1)) < 0 && i == 0){%>
            <td class="bg-secondary"><label><p class="timeLabel">4 PM</p><p class="newTime"></p></label><input type="radio" value="16-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
            <%}else{%>
              <td><label><p class="timeLabel">4 PM</p><p class="newTime"></p></label><input type="radio" value="16-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
              <%}%>
            <%}%>
        
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] && (17 - (currDate.getHours()+1)) < 0 && i == 0){%>
            <td class="bg-secondary"><label><p class="timeLabel">5 PM</p><p class="newTime"></p></label><input type="radio" value="17-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
            <%}else{%>
              <td><label><p class="timeLabel">5 PM</p><p class="newTime"></p></label><input type="radio" value="17-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
              <%}%>
            <%}%>
         
          
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] && (18 - (currDate.getHours()+1)) < 0 && i == 0){%>
            <td class="bg-secondary"><label><p class="timeLabel">6 PM</p><p class="newTime"></p></label><input type="radio" value="18-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
          <%}else{%>
            <td><label><p class="timeLabel">6 PM</p><p class="newTime"></p></label><input type="radio" value="18-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
            <%}%>
            <%}%>
          
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] && (19 - (currDate.getHours()+1)) < 0 && i == 0){%>
            <td class="bg-secondary"><label><p class="timeLabel">7 PM</p><p class="newTime"></p></label><input type="radio" value="19-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
            <%}else{%>
              <td><label><p class="timeLabel">7 PM</p><p class="newTime"></p></label><input type="radio" value="19-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
              <%}%>
            <%}%>
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] && (20 - (currDate.getHours()+1)) < 0 && i == 0){%>
            <td class="bg-secondary"><label><p class="timeLabel">8 PM</p><p class="newTime"></p></label><input type="radio" value="20-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
            <%}else{%>
              <td><label><p class="timeLabel">8 PM</p><p class="newTime"></p></label><input type="radio" value="20-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
              <%}%>
            <%}%>
        
         
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] && (21 - (currDate.getHours()+1)) < 0 && i == 0){%>
            <td class="bg-secondary"><label><p class="timeLabel">9 PM</p><p class="newTime"></p></label><input type="radio" value="21-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
            <%}else{%>
              <td><label><p class="timeLabel">9 PM</p><p class="newTime"></p></label><input type="radio" value="21-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
              <%}%>
            <%}%>
        
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] && (22 - (currDate.getHours()+1)) < 0 && i == 0){%>
            <td class="bg-secondary"><label><p class="timeLabel">10 PM</p><p class="newTime"></p></label><input type="radio" value="22-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
            <%}else{%>
              <td><label><p class="timeLabel">10 PM</p><p class="newTime"></p></label><input type="radio" value="22-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
              <%}%>
            <%}%>
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] && (23 - (currDate.getHours()+1)) < 0 && i == 0){%>

            <td class="bg-secondary"><label><p class="timeLabel">11 PM</p><p class="newTime"></p></label><input type="radio" value="23-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
            <%}else{%>
              <td><label><p class="timeLabel">11 PM</p><p class="newTime"></p></label><input type="radio" value="23-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
              <%}%>
            <%}%>
         
        
       </tr>
       <tr>
         <%for(x in times){%>
          <%if(currDate.getDay() === times[x] && (24 - (currDate.getHours()+1)) < 0&& i == 0){%>

            <td><label class="bg-secondary"><p class="timeLabel">12 AM</p><p class="newTime"></p></label><input type="radio" value="24-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
            <%}else{%>
              <td><label><p class="timeLabel">12 AM</p><p class="newTime"></p></label><input type="radio" value="24-<%=times[x]%>"/><div class='deleteTime'>x</div></td>
              <%}%>
          <%}%>
       </tr>
      </table>
   </div>
   <%}%>
   <%}%>