<div class="groupSideBar">
    <%if(members){%>
        <p class="groupMemberCount"> Members</p>
    
    <% for(x in members){%>
        <div class="membersContainer">
            <%if(members[x][0].handle === studyGroup.HostHandle){%>
                <%if(session.handle==members[x][0].handle){%>
                <div class="groupMember-container">
                
                    <img src="<%=members[x][0].image%>"/>
                    <a href="../user/<%=members[x][0].handle%>">
                        <p class="memberHandle adminHandle">You </p>
                        <span class="admin">Admin</span>
                       
                    </a>
                </div>
            
                <%}else{%>
                    <div class="groupMember-container">
                    <img src="<%=members[x][0].image%>"/>
                        <a href="../user/<%=members[x][0].handle%>">
                            <p class="memberHandle adminHandle"><%=members[x][0].handle%></p>
                            <span class="admin">Admin</span>
                    </a>
                    </div>
                <%}%>
            <%}else{%>
                <%if(session.handle==members[x][0].handle){%>
                    <div class="groupMember-container">
                    
                        <img src="<%=members[x][0].image%>"/>
                        <a href="../user/<%=members[x][0].handle%>">
                            <p class="memberHandle">You</p>
                        </a>
                    </div>
                
                    <%}else{%>
                        <div class="groupMember-container">
                        <img src="<%=members[x][0].image%>"/>
                            <a href="../user/<%=members[x][0].handle%>">
                                <p class="memberHandle"><%=members[x][0].handle%></p>
                        </a>
                        </div>
                    <%}%>
            <%}%>
        </div>
    <%}%>
    <%}else{%>
        <p class="text-light noMembers">All members left ):</p>
    <%}%>
</div>

