<div class="groupSideBar">
    <%if(members){%>
  
    <%if(members.length == 1){%>
        <p class="groupMemberCount"> <%=members.length%> Member</p>
    <%}else{%>
        <p class="groupMemberCount"> <%=members.length%> Members</p>
    <%}%>
    
    <% for(x in members){%>
        <div class="membersContainer">

            <%if(session.handle==members[x][0].handle){%>
            <div class="groupMember-container">
              
                <img src="../<%=members[x][0].image%>"/>
                <a href="../User/<%=members[x][0].handle%>">
                    <p>You</p>
                </a>
            </div>
           
            <%}else{%>
                <div class="groupMember-container">
                  <img src="../<%=members[x][0].image%>"/>
                    <a href="../User/<%=members[x][0].handle%>">
                        <p><%=members[x][0].handle%></p>
                   </a>
                </div>
            <%}%>
        </div>
    <%}%>
    <%}else{%>
        <p class="text-light noMembers">All members left ):</p>
    <%}%>
</div>

