<div class="homeSideBar">
    <div class="homeSideBar-container">
        <h2 class="homeSideBarTitle">Your Groups</h2>
      
        <ul class="sideBarItemMenu">
            <%for (var x = myStudyGroups.length-1; x>=0;x--){%>
                <li class="sideBarItemMenu-item"><a href="/Group/<%=myStudyGroups[x].studyGroupId%>"><%= myStudyGroups[x].studyGroupName%></a></li>
            <%}%>
            <li class="sideBarItemMenu-item"><a href="/startAGroup" class="btn btn-primary startGroup">Start a Group</a></li>
        </ul>
    </div>
    <%if(meetups.length > 0 ){%>
    <div class="homeSideBar-container">
        <h2 class="homeSideBarTitle">Your Study Sessions</h2>
        <ul class="sideBarItemMenu">
            <% for (x in meetups){%>
                <% if(meetups[x].meetupDate > new Date()){%>
                    <% if(formatDate(meetups[x].meetupDate) === "Today"){%>
                        <li class="sideBarItemMenu-item "><a class="" href="/meetup/<%= meetups[x].meetupId%>"><div class="today bg-success"></div><span><%=formatDate(meetups[x].meetupDate)%> - <%= meetups[x].meetupName%></span></a></li>
                   <%}else {%>
                    <li class="sideBarItemMenu-item"><a href="/meetup/<%= meetups[x].meetupId%>"><%=formatDate(meetups[x].meetupDate)%> - <%= meetups[x].meetupName%></a></li>
                    <%}%>
                <%}%>
            <%}%>
        </ul>
    </div>
    <%}%>
    <%if(bidsLength > 0){%>
    <div class="homeSideBar-container">
        <h2 class="homeSideBarTitle">Your Accepted Bids</h2>
        <ul class="sideBarItemMenu">
            <li class="sideBarItemMenu-item">
                <a href="/acceptedBids" class="btn btn-primary startGroup">View bids</a>
            </li>
        </ul>
    </div>
    <%}%>
    <%if(currentTutoringSessions.length > 0){%>
    <div class="homeSideBar-container">
        <h2 class="homeSideBarTitle">Your Tutoring Sessions</h2>
        <%for (x in currentTutoringSessions){%>
           
                <li class="sideBarItemMenu-item">
                    <div class="tutoringSideBar-container">
                    <h3 class="tutoringSessionSideBarName">
                        <a class="hostToolTip" href="../user/<%=currentTutoringSessions[x].hostHandle%>" data-toggle="tooltip" data-placement="top" title="<%=currentTutoringSessions[x].hostHandle%>">
                            <img class="hostImg" src='../<%=currentTutoringSessions[x].hostImg%>'/>
                        </a>
                        <a href="meeting/<%=currentTutoringSessions[x].sessionId%>">
                            
                            <span class="nameTxt"><%=currentTutoringSessions[x].sessionName%></span>
                            <span class="roleTxt"><%=currentTutoringSessions[x].role%></span>
                        
                        </a>
                        
                    </h3>
                    <p class="tutoringSeshDetails"><%=formatDate(currentTutoringSessions[x].date)%></p>
                </div>
                </li>
        <%}%>
        <%for (x in pastTutoringSessions){%>
           <%if(pastTutoringSessions[x].role != "Host"  && !pastTutoringSessions[x].leftReview){%>
            <li class="sideBarItemMenu-item">
                <div class="tutoringSideBar-container">
                <h3 class="tutoringSessionSideBarName">
                    <a class="hostToolTip" href="../user/<%=pastTutoringSessions[x].hostHandle%>" data-toggle="tooltip" data-placement="top" title="<%=pastTutoringSessions[x].hostHandle%>">
                        <img class="hostImg" src='../<%=pastTutoringSessions[x].hostImg%>'/>
                    </a>
                    <a href="meeting/<%=pastTutoringSessions[x].sessionId%>">
                        
                        <span class="nameTxt"><%=pastTutoringSessions[x].sessionName%></span>
                        <span class="roleTxt"><%=pastTutoringSessions[x].role%></span>
                    
                    </a>
                    
                </h3>
                <p class="tutoringSeshDetails"><%=formatDate(pastTutoringSessions[x].date)%></p>
                <a href="/Review/<%=pastTutoringSessions[x].sessionId%>" class="btn btn-primary rateTutorBtn">Rate Your Tutor</a>
            </div>
            </li>
            <%}%>
    <%}%>
    </div>
    <%}%>
    <!-- <div class="homeSideBar-container-last">
        <h2 class="homeSideBarTitle">Your Clubs</h2>
         <ul class="sideBarItemMenu">
            <li class="sideBarItemMenu-item">Item 1</li>
            <li class="sideBarItemMenu-item"><a href="#">Find Clubs</a></li>
        </ul>
    </div> -->
   

</div>