 <!-- use this to display group members modal -->
 
 <script src="../../../assets/js/connect.js"></script>
 <!-- Modal -->
 <div class="modal fade " id="StudyGroupMembers" tabindex="-1" role="dialog" aria-labelledby="StudyGroupMembers" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered " role="document">
     <div class="modal-content color-dark">
       <div class="modal-header">
           <% for(x in members){%>
            <div class="membersContainer">
                <img src="../<%=members[x][0].image%>"/>
                <p><%=members[x][0].handle%></p>
                <% var noAtHandle=(members[x][0].handle).replace('@','');%>
                <%if(session.handle==members[x][0].handle){%>
                  <p><button disabled="true">Yourself</button></p>
                <%}else if(members[x][1]){%>
                  <form action="/#" method="post" id="<%"unfollow-form-"+ x %>">
                    <p><button id="<%=noAtHandle%>" data-status="unfollow" type="button" data-onclick="follow(<%=noAtHandle%>, '<%=members[x][0].handle%>','unfollow','#meetupFollowModal')" class="btn btn-secondary btn-sm followingButton" data-toggle="modal" data-target="#meetupFollowModal" data-handle='<%=members[x][0].handle%>'>
                            Following</button></p>
                  </form>
                <%}else{%>
                  <form action="/#" method="post" id="<%"follow-form-"+ x%>">
                    <p><button id="<%=noAtHandle%>" data-status="follow" type="button" onclick="follow(this, '<%=members[x][0].handle%>','follow','#meetupFollowModal')" class="btn btn-primary btn-sm followButton">
                            Follow</button></p>
                  </form>
                <%}%>
            </div>
        <%}%>
       </div>
       <div class="modal-footer">
      </div>
     </div>
   </div>
 </div>


<!-- Modal -->
<div class="modal fade" id="meetupFollowModal" tabindex="-1" role="dialog" aria-labelledby="meetupFollowModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="meetupFollowModalLabel" style="color: black;">Unfollow</h4>
        </div>
          <div class="modal-body" style="color: black;">
            ...
          </div>
        <div class="modal-footer">
        <button id="meetupFollowNo" type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button id="meetupFollowYes" type="button" class="btn btn-danger">Yes</button>
      </div>
    </div>
  </div>
</div>

<script>
        $("button").hover(function(){
            action = $(this).attr("data-status");
            if (action == "unfollow"){
                $(this).html("Unfollow");
            }
        },function(){
            action = $(this).attr("data-status");
            if (action == "unfollow"){
                $(this).html("Following");
            }
        })

        $('#meetupFollowModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var handle = button.data('handle') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-body').text('Are you sure you want to unfollow ' + handle)
                //modal.find('.modal-body input').val(recipient)
                $('#meetupFollowYes').attr("onclick",button.data("onclick"));
        })
</script>